<%= bootstrap_form_for user do |form| %>
  <div>
    <%= form.text_field :email, class: "border-secondary" %>
    <%= form.password_field :password, class: "border-secondary" %>

    <%= form.submit 'Register', class: "btn btn-primary"  %> 
  </div>
<% end %>