  <div class="row">
    <div class="col-4 offset-4 align-self-center bg-white p-4">
    <h1> Register  </h1>
    <%= link_to "Log in", new_session_path %>

    <%= render 'form', user: @user %>
    </div>
  </div>