.position-absolute.top-0.start-50.translate-middle-x.w-50>
\%&gt;
- flash.each do |type,  msg|
  .alert.alert-
  = type
  alert-dismissible fade show" role="alert"&gt;
  \#{msg}
  %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "alert", :type => "button"}
