<div class="position-absolute top-0 start-50 translate-middle-x w-50"%>
  <% flash.each do |type,  msg| %>
    <div class="alert alert-<%=type%> alert-dismissible fade show" role="alert">
      <%=msg%>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

    </div>
  <% end %>

</div>
