<div class="col bg-primary vh-100"> 
  <ul class="nav flex-column">
    <li class="nav-item">
      <%= link_to "Deals", deals_path, class: "nav-link text-white" %>
    </li>
    <li class="nav-item">
      <%= link_to "Organizations", organizations_path, class: "nav-link text-white" %>
    </li>




    <li class="nav-item">
      <a class="nav-link text-white" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">Disabled</a>
    </li>
  </ul>
</div>