<div class="card mb-3">
<div class="card-body">
  <div class="d-flex align-items-center mb-5">
    <h3>About lead</h3><button class="btn btn-link px-3" type="button">Edit</button>
  </div>
  <div class="mb-4">
    <div class="d-flex align-items-center mb-1"><span class="me-2 uil uil-envelope-alt">  </span>
      <h5 class="text-body-highlight mb-0">Email</h5>
    </div><a href="mailto:<%= contact.email %>"><%= contact.email %></a>
  </div>
  <div class="mb-4">
    <div class="d-flex align-items-center mb-1"><span class="me-2 uil uil-phone"> </span>
      <h5 class="text-body-highlight mb-0">Phone</h5>
    </div><a href="tel:+1234567890">+1234567890 </a>
  </div>
  <div class="mb-4">
    <div class="d-flex align-items-center mb-1"><span class="me-2 uil uil-globe"></span>
      <h5 class="text-body-highlight mb-0">Website</h5>
    </div><a href="#!">ADD WEBSITE  </a>
  </div>
  <div class="mb-4">
    <div class="d-flex align-items-center mb-1"><span class="me-2 uil uil-building"></span>
      <h5 class="text-body-highlight mb-0">Industry</h5>
    </div>
    <p class="mb-0 text-body-secondary">Large Enterprise</p>
  </div>
  <div class="mb-4">
    <div class="d-flex align-items-center mb-1"><span class="me-2 uil uil-postcard"></span>
      <h5 class="text-body-highlight mb-0">Number of employees</h5>
    </div>
    <p class="mb-0 text-body-secondary">126</p>
  </div>
  <div class="mb-4">
    <div class="d-flex align-items-center mb-1"><span class="me-2 uil uil-dollar-alt"></span>
      <h5 class="text-body-highlight mb-0">Annual Revenue</h5>
    </div>
    <p class="mb-0 text-body-secondary">$12000 </p>
  </div>
  <div class="mb-4">
    <div class="d-flex align-items-center mb-1"><span class="me-2 uil uil-clock"></span>
      <h5 class="text-body-highlight mb-0">Last contacted</h5>
    </div>
    <p class="mb-0 text-body-secondary">12 November 2021, 10:54 AM</p>
  </div>
  <div class="mb-4">
    <div class="d-flex align-items-center mb-1"><span class="me-2 uil uil-file-check-alt"></span>
      <h5 class="text-body-highlight mb-0">Lead source</h5>
    </div>
    <p class="mb-0 text-body-secondary">Advertisement</p>
  </div>
  <div>
    <div class="d-flex align-items-center mb-1"><span class="me-2 uil uil-check-circle"></span>
      <h5 class="text-body-highlight mb-0">Lead status</h5>
    </div><span class="badge badge-phoenix badge-phoenix-primary">New Lead</span>
  </div>
</div>
</div>