.card.mb-3
  .card-body
    .d-flex.align-items-center.mb-5
      %h3 Address
      %button.btn.btn-link{:type => "button"} Edit
    .mb-4
      .d-flex.align-items-center.mb-1
        %span.me-2.uil.uil-estate
        %h5.mb-0 Street
      %p.mb-0.text-body-secondary 38/2 Penelope street
    .mb-4
      .d-flex.align-items-center.mb-1
        %span.me-2.uil.uil-map-pin-alt
        %h5.mb-0.text-body-highlight Zip code
      %p.mb-0.text-body-secondary 1425
    .mb-4
      .d-flex.align-items-center.mb-1
        %span.me-2.uil.uil-map
        %h5.mb-0.text-body-highlight City
      %p.mb-0.text-body-secondary Qualimando
    %div
      .d-flex.align-items-center.mb-1
        %span.me-2.uil.uil-windsock
        %h5.mb-0.text-body-highlight Country
      %p.mb-0.text-body-secondary United Empire of Brekania
