%div
  %h2#scrollspyAttachments.mb-4 Attachments
  .border-top.border-dashed.pt-3.pb-4
    .d-flex.flex-between-center
      .d-flex.mb-1
        %span.fa-solid.fa-image.me-2.text-body-tertiary.fs-9
        %p.text-body-highlight.mb-0.lh-1 Silly_sight_1.png
      .btn-reveal-trigger
        %button.btn.btn-sm.dropdown-toggle.dropdown-caret-none.transition-none.btn-reveal{"aria-expanded" => "false", "aria-haspopup" => "true", "data-boundary" => "window", "data-bs-reference" => "parent", "data-bs-toggle" => "dropdown", :type => "button"}
          %span.fas.fa-ellipsis-h
        .dropdown-menu.dropdown-menu-end.py-2
          %a.dropdown-item{:href => "#!"} Edit
          %a.dropdown-item.text-danger{:href => "#!"} Delete
          %a.dropdown-item{:href => "#!"} Download
          %a.dropdown-item{:href => "#!"} Report abuse
    %p.fs-9.text-body-tertiary.mb-2
      %span 768kB
      %span.text-body-quaternary.mx-1 |
      %a{:href => "#!"} Shantinan Mekalan
      %span.text-body-quaternary.mx-1 |
      %span.text-nowrap 21st Dec, 12:56 PM
    %img.rounded-2{:alt => "", :src => "../../assets/img/generic/40.png"}/
  .border-top.border-dashed.py-4
    .d-flex.flex-between-center
      %div
        .d-flex.align-items-center.mb-1
          %span.fa-solid.fa-image.me-2.fs-9.text-body-tertiary
          %p.text-body-highlight.mb-0.lh-1 All_images.zip
        %p.fs-9.text-body-tertiary.mb-0
          %span 12.8 mB
          %span.text-body-quaternary.mx-1 |
          %a{:href => "#!"} Yves Tanguy
          %span.text-body-quaternary.mx-1 |
          %span.text-nowrap 19th Dec, 08:56 PM
      .btn-reveal-trigger
        %button.btn.btn-sm.dropdown-toggle.dropdown-caret-none.transition-none.btn-reveal{"aria-expanded" => "false", "aria-haspopup" => "true", "data-boundary" => "window", "data-bs-reference" => "parent", "data-bs-toggle" => "dropdown", :type => "button"}
          %span.fas.fa-ellipsis-h
        .dropdown-menu.dropdown-menu-end.py-2
          %a.dropdown-item{:href => "#!"} Edit
          %a.dropdown-item.text-danger{:href => "#!"} Delete
          %a.dropdown-item{:href => "#!"} Download
          %a.dropdown-item{:href => "#!"} Report abuse
  .border-top.border-dashed.py-4
    .d-flex.flex-between-center
      %div
        .d-flex.align-items-center.mb-1
          %span.fa-solid.fa-file-lines.me-2.fs-9.text-body-tertiary
          %p.text-body-highlight.mb-0.lh-1 Project.txt
        %p.fs-9.text-body-tertiary.mb-0
          %span 123 kB
          %span.text-body-quaternary.mx-1 |
          %a{:href => "#!"} Shantinan Mekalan
          %span.text-body-quaternary.mx-1 |
          %span.text-nowrap 12th Dec, 12:56 PM
      .btn-reveal-trigger
        %button.btn.btn-sm.dropdown-toggle.dropdown-caret-none.transition-none.btn-reveal{"aria-expanded" => "false", "aria-haspopup" => "true", "data-boundary" => "window", "data-bs-reference" => "parent", "data-bs-toggle" => "dropdown", :type => "button"}
          %span.fas.fa-ellipsis-h
        .dropdown-menu.dropdown-menu-end.py-2
          %a.dropdown-item{:href => "#!"} Edit
          %a.dropdown-item.text-danger{:href => "#!"} Delete
          %a.dropdown-item{:href => "#!"} Download
          %a.dropdown-item{:href => "#!"} Report abuse
