.mb-8
  #scrollspyDeals.d-flex.justify-content-between.align-items-center.mb-4
    %h2.mb-0 Deals
    %button.btn.btn-primary.btn-sm
      %span.fa-solid.fa-plus.me-2>
      Add Deals
  #leadDetailsTable.border-top.border-bottom.border-translucent{"data-list" => "{\"valueNames\":[\"dealName\",\"amount\",\"stage\",\"probability\",\"date\",\"type\"],\"page\":5,\"pagination\":true}"}
    .table-responsive.scrollbar.mx-n1.px-1
      %table.table.fs-9.mb-0
        %thead
          %tr
            %th.white-space-nowrap.fs-9.align-middle.ps-0{:style => "width:26px;"}
              .form-check.mb-0.fs-8
                %input.form-check-input{"data-bulk-select" => "{\"body\":\"lead-details-table-body\"}", :type => "checkbox"}/
            %th.sort.white-space-nowrap.align-middle.pe-3.ps-0.text-uppercase{"data-sort" => "dealName", :scope => "col", :style => "width:15%; min-width:200px"} Deal name
            %th.sort.align-middle.pe-6.text-uppercase.text-end{"data-sort" => "amount", :scope => "col", :style => "width:15%; min-width:100px"} Amount
            %th.sort.align-middle.text-start.text-uppercase{"data-sort" => "stage", :scope => "col", :style => "width:20%; min-width:200px"} Stage
            %th.sort.align-middle.text-start.text-uppercase{"data-sort" => "probability", :scope => "col", :style => "width:20%; min-width:100px"} Probability
            %th.sort.align-middle.ps-0.text-end.text-uppercase{"data-sort" => "date", :scope => "col", :style => "width:15%; min-width:120px"} Closing Date
            %th.sort.align-middle.text-end.text-uppercase{"data-sort" => "type", :scope => "col", :style => "width:15%; min-width:140px"} Type
            %th.align-middle.pe-0.text-end{:scope => "col", :style => "width:15%;"}
        %tbody#lead-details-table-body.list
        - @contact.deals.each do |deal|
          = render "deal_item", deal: deal

    .row.align-items-center.justify-content-between.py-2.pe-0.fs-9
      .col-auto.d-flex
        %p.mb-0.d-none.d-sm-block.me-3.fw-semibold.text-body{"data-list-info" => "data-list-info"}
        %a.fw-semibold{"data-list-view" => "*", :href => "#!"}
          View all
          %span.fas.fa-angle-right.ms-1{"data-fa-transform" => "down-1"}
        %a.fw-semibold.d-none{"data-list-view" => "less", :href => "#!"}
          View Less
          %span.fas.fa-angle-right.ms-1{"data-fa-transform" => "down-1"}
      .col-auto.d-flex
        %button.page-link{"data-list-pagination" => "prev"}
          %span.fas.fa-chevron-left
        %ul.mb-0.pagination
        %button.page-link.pe-0{"data-list-pagination" => "next"}
          %span.fas.fa-chevron-right
