.mb-8
  %h2#scrollspyTask.mb-4 Tasks
  .row.align-items-center.g-0.justify-content-start.mb-3
    .col-12.col-sm-auto
      .search-box.w-100.mb-2.mb-sm-0{:style => "max-width:30rem;"}
        %form.position-relative
          %input.form-control.search-input.search{"aria-label" => "Search", :placeholder => "Search tasks", :type => "search"}/
          %span.fas.fa-search.search-box-icon
    .col-auto.d-flex
      %p.mb-0.ms-sm-3.fs-9.text-body-tertiary.fw-bold
        %span.fas.fa-filter.me-1.fw-extra-bold.fs-10>
        23 tasks
      %button.btn.btn-link.p-0.ms-3.fs-9.text-primary.fw-bold
        %span.fas.fa-sort.me-1.fw-extra-bold.fs-10>
        Sorting
  .row.justify-content-between.align-items-md-center.hover-actions-trigger.btn-reveal-trigger.border-translucent.py-3.gx-0.border-top
    .col-12.col-lg-auto.flex-1
      %div{"data-todo-offcanvas-target" => "todoOffcanvas-1", "data-todo-offcanvas-toogle" => "data-todo-offcanvas-toogle"}
        .form-check.mb-1.mb-md-0.d-flex.align-items-center.lh-1
          %input#checkbox-todo-0.form-check-input.flex-shrink-0.form-check-line-through.mt-0.me-2.form-check-input-undefined{:type => "checkbox"}/
          %label.form-check-label.mb-0.fs-8.me-2.line-clamp-1{:for => "checkbox-todo-0"} Platforms for data administration
    .col-12.col-lg-auto
      .d-flex.ms-4.lh-1.align-items-center
        %p.text-body-tertiary.fs-10.mb-md-0.me-2.me-lg-3.mb-0 19 Nov, 2022
        .d-none.d-lg-block.end-0.position-absolute{:style => "top: 23%;"}
          .hover-actions.end-0
            %button.btn.btn-phoenix-secondary.btn-icon.me-1.fs-10.text-body.px-0.me-1
              %span.fas.fa-edit
            %button.btn.btn-phoenix-secondary.btn-icon.fs-10.text-danger.px-0
              %span.fas.fa-trash
        .hover-lg-hide
          %p.text-body-tertiary.fs-10.ps-lg-3.border-start-lg.fw-bold.mb-md-0.mb-0 11:56 PM
  .row.justify-content-between.align-items-md-center.hover-actions-trigger.btn-reveal-trigger.border-translucent.py-3.gx-0.border-top
    .col-12.col-lg-auto.flex-1
      %div{"data-todo-offcanvas-target" => "todoOffcanvas-2", "data-todo-offcanvas-toogle" => "data-todo-offcanvas-toogle"}
        .form-check.mb-1.mb-md-0.d-flex.align-items-center.lh-1
          %input#checkbox-todo-1.form-check-input.flex-shrink-0.form-check-line-through.mt-0.me-2.form-check-input-undefined{:type => "checkbox"}/
          %label.form-check-label.mb-0.fs-8.me-2.line-clamp-1{:for => "checkbox-todo-1"} Make wiser business choices.
    .col-12.col-lg-auto
      .d-flex.ms-4.lh-1.align-items-center
        %p.text-body-tertiary.fs-10.mb-md-0.me-2.me-lg-3.mb-0 05 Nov, 2022
        .d-none.d-lg-block.end-0.position-absolute{:style => "top: 23%;"}
          .hover-actions.end-0
            %button.btn.btn-phoenix-secondary.btn-icon.me-1.fs-10.text-body.px-0.me-1
              %span.fas.fa-edit
            %button.btn.btn-phoenix-secondary.btn-icon.fs-10.text-danger.px-0
              %span.fas.fa-trash
        .hover-lg-hide
          %p.text-body-tertiary.fs-10.ps-lg-3.border-start-lg.fw-bold.mb-md-0.mb-0 09:30 PM
  .row.justify-content-between.align-items-md-center.hover-actions-trigger.btn-reveal-trigger.border-translucent.py-3.gx-0.border-top
    .col-12.col-lg-auto.flex-1
      %div{"data-todo-offcanvas-target" => "todoOffcanvas-3", "data-todo-offcanvas-toogle" => "data-todo-offcanvas-toogle"}
        .form-check.mb-1.mb-md-0.d-flex.align-items-center.lh-1
          %input#checkbox-todo-2.form-check-input.flex-shrink-0.form-check-line-through.mt-0.me-2.form-check-input-undefined{:type => "checkbox"}/
          %label.form-check-label.mb-0.fs-8.me-2.line-clamp-1{:for => "checkbox-todo-2"} Market and consumer insights
    .col-12.col-lg-auto
      .d-flex.ms-4.lh-1.align-items-center
        %p.text-body-tertiary.fs-10.mb-md-0.me-2.me-lg-3.mb-0 02 Nov, 2022
        .d-none.d-lg-block.end-0.position-absolute{:style => "top: 23%;"}
          .hover-actions.end-0
            %button.btn.btn-phoenix-secondary.btn-icon.me-1.fs-10.text-body.px-0.me-1
              %span.fas.fa-edit
            %button.btn.btn-phoenix-secondary.btn-icon.fs-10.text-danger.px-0
              %span.fas.fa-trash
        .hover-lg-hide
          %p.text-body-tertiary.fs-10.ps-lg-3.border-start-lg.fw-bold.mb-md-0.mb-0 05:25 AM
  .row.justify-content-between.align-items-md-center.hover-actions-trigger.btn-reveal-trigger.border-translucent.py-3.gx-0.border-top
    .col-12.col-lg-auto.flex-1
      %div{"data-todo-offcanvas-target" => "todoOffcanvas-4", "data-todo-offcanvas-toogle" => "data-todo-offcanvas-toogle"}
        .form-check.mb-1.mb-md-0.d-flex.align-items-center.lh-1
          %input#checkbox-todo-3.form-check-input.flex-shrink-0.form-check-line-through.mt-0.me-2.form-check-input-undefined{:type => "checkbox"}/
          %label.form-check-label.mb-0.fs-8.me-2.line-clamp-1{:for => "checkbox-todo-3"} Dashboards for business insights
    .col-12.col-lg-auto
      .d-flex.ms-4.lh-1.align-items-center
        %p.text-body-tertiary.fs-10.mb-md-0.me-2.me-lg-3.mb-0 29 Oct, 2022
        .d-none.d-lg-block.end-0.position-absolute{:style => "top: 23%;"}
          .hover-actions.end-0
            %button.btn.btn-phoenix-secondary.btn-icon.me-1.fs-10.text-body.px-0.me-1
              %span.fas.fa-edit
            %button.btn.btn-phoenix-secondary.btn-icon.fs-10.text-danger.px-0
              %span.fas.fa-trash
        .hover-lg-hide
          %p.text-body-tertiary.fs-10.ps-lg-3.border-start-lg.fw-bold.mb-md-0.mb-0 08:21 PM
  .row.justify-content-between.align-items-md-center.hover-actions-trigger.btn-reveal-trigger.border-translucent.py-3.gx-0.border-top
    .col-12.col-lg-auto.flex-1
      %div{"data-todo-offcanvas-target" => "todoOffcanvas-5", "data-todo-offcanvas-toogle" => "data-todo-offcanvas-toogle"}
        .form-check.mb-1.mb-md-0.d-flex.align-items-center.lh-1
          %input#checkbox-todo-4.form-check-input.flex-shrink-0.form-check-line-through.mt-0.me-2.form-check-input-undefined{:checked => "checked", :type => "checkbox"}/
          %label.form-check-label.mb-0.fs-8.me-2.line-clamp-1{:for => "checkbox-todo-4"} Analytics and consultancy for data
    .col-12.col-lg-auto
      .d-flex.ms-4.lh-1.align-items-center
        %p.text-body-tertiary.fs-10.mb-md-0.me-2.me-lg-3.mb-0 21 Oct, 2022
        .d-none.d-lg-block.end-0.position-absolute{:style => "top: 23%;"}
          .hover-actions.end-0
            %button.btn.btn-phoenix-secondary.btn-icon.me-1.fs-10.text-body.px-0.me-1
              %span.fas.fa-edit
            %button.btn.btn-phoenix-secondary.btn-icon.fs-10.text-danger.px-0
              %span.fas.fa-trash
        .hover-lg-hide
          %p.text-body-tertiary.fs-10.ps-lg-3.border-start-lg.fw-bold.mb-md-0.mb-0 03:45 PM
  .row.justify-content-between.align-items-md-center.hover-actions-trigger.btn-reveal-trigger.border-translucent.py-3.gx-0.border-top
    .col-12.col-lg-auto.flex-1
      %div{"data-todo-offcanvas-target" => "todoOffcanvas-6", "data-todo-offcanvas-toogle" => "data-todo-offcanvas-toogle"}
        .form-check.mb-1.mb-md-0.d-flex.align-items-center.lh-1
          %input#checkbox-todo-5.form-check-input.flex-shrink-0.form-check-line-through.mt-0.me-2.form-check-input-undefined{:checked => "checked", :type => "checkbox"}/
          %label.form-check-label.mb-0.fs-8.me-2.line-clamp-1{:for => "checkbox-todo-5"} Planning your locations Customer data platform
    .col-12.col-lg-auto
      .d-flex.ms-4.lh-1.align-items-center
        %p.text-body-tertiary.fs-10.mb-md-0.me-2.me-lg-3.mb-0 14 Oct, 2022
        .d-none.d-lg-block.end-0.position-absolute{:style => "top: 23%;"}
          .hover-actions.end-0
            %button.btn.btn-phoenix-secondary.btn-icon.me-1.fs-10.text-body.px-0.me-1
              %span.fas.fa-edit
            %button.btn.btn-phoenix-secondary.btn-icon.fs-10.text-danger.px-0
              %span.fas.fa-trash
        .hover-lg-hide
          %p.text-body-tertiary.fs-10.ps-lg-3.border-start-lg.fw-bold.mb-md-0.mb-0 10:00 PM
  .row.justify-content-between.align-items-md-center.hover-actions-trigger.btn-reveal-trigger.border-translucent.py-3.gx-0.border-top
    .col-12.col-lg-auto.flex-1
      %div{"data-todo-offcanvas-target" => "todoOffcanvas-7", "data-todo-offcanvas-toogle" => "data-todo-offcanvas-toogle"}
        .form-check.mb-1.mb-md-0.d-flex.align-items-center.lh-1
          %input#checkbox-todo-6.form-check-input.flex-shrink-0.form-check-line-through.mt-0.me-2.form-check-input-undefined{:checked => "checked", :type => "checkbox"}/
          %label.form-check-label.mb-0.fs-8.me-2.line-clamp-1{:for => "checkbox-todo-6"} Promotion of technology
    .col-12.col-lg-auto
      .d-flex.ms-4.lh-1.align-items-center
        %p.text-body-tertiary.fs-10.mb-md-0.me-2.me-lg-3.mb-0 12 Oct, 2022
        .d-none.d-lg-block.end-0.position-absolute{:style => "top: 23%;"}
          .hover-actions.end-0
            %button.btn.btn-phoenix-secondary.btn-icon.me-1.fs-10.text-body.px-0.me-1
              %span.fas.fa-edit
            %button.btn.btn-phoenix-secondary.btn-icon.fs-10.text-danger.px-0
              %span.fas.fa-trash
        .hover-lg-hide
          %p.text-body-tertiary.fs-10.ps-lg-3.border-start-lg.fw-bold.mb-md-0.mb-0 02:00 AM
  %a.fw-bold.fs-9.mt-4{:href => "#!"}
    %span.fas.fa-plus.me-1>
    Add new task
