<div class="content">
<nav class="mb-2" aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a href="#!">Page 1</a></li>
    <li class="breadcrumb-item"><a href="#!">Page 2</a></li>
    <li class="breadcrumb-item active">Default</li>
  </ol>
</nav>
<div class="pb-6">
  <h2 class="mb-4">25 Leads</h2>
  <div id="lealsTable" data-list='{"valueNames":["name","email","phone","contact","company","date"],"page":10,"pagination":true}'>
    <div class="row g-3 justify-content-between mb-4">
      <div class="col-auto">
        <div class="d-md-flex justify-content-between">
          <div>
            <button class="btn btn-primary me-4"><span class="fas fa-plus me-2"></span>Create Lead</button>
            <button class="btn btn-link text-body px-0"><span class="fa-solid fa-file-export fs-9 me-2"></span>Export</button>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <div class="d-flex">
          <div class="search-box me-2">
            <form class="position-relative">
              <input class="form-control search-input search" type="search" placeholder="Search by name" aria-label="Search" />
              <span class="fas fa-search search-box-icon"></span>

            </form>
          </div>
          <div class="flatpickr-input-container me-2">
            <input class="form-control ps-6 datetimepicker" id="datepicker" type="text" data-options='{"dateFormat":"M j, Y","disableMobile":true,"defaultDate":"Mar 1, 2022"}' /><span class="uil uil-calendar-alt flatpickr-icon text-body-tertiary"></span>
          </div>
          <button class="btn px-3 btn-phoenix-secondary" type="button" data-bs-toggle="modal" data-bs-target="#filterModal" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fa-solid fa-filter text-primary" data-fa-transform="down-3"></span></button>
          <div class="modal fade" id="filterModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content border border-translucent">
                <form id="addEventForm" autocomplete="off">
                  <div class="modal-header border-translucent p-4">
                    <h5 class="modal-title text-body-highlight fs-6 lh-sm">Filter</h5>
                    <button class="btn p-1 text-body" type="button" data-bs-dismiss="modal" aria-label="Close"><span class="fas fa-times fs-9"></span></button>
                  </div>
                  <div class="modal-body pt-4 pb-2 px-4">
                    <div class="mb-3">
                      <label class="fw-bold mb-2 text-body-highlight" for="leadStatus">Lead Status</label>
                      <select class="form-select" id="leadStatus">
                        <option value="newLead" selected="selected">New Lead</option>
                        <option value="coldLead">Cold Lead</option>
                        <option value="wonLead">Won Lead</option>
                        <option value="canceled">Canceled</option>
                      </select>
                    </div>
                    <div class="mb-3">
                      <label class="fw-bold mb-2 text-body-highlight" for="createDate">Create Date</label>
                      <select class="form-select" id="createDate">
                        <option value="today" selected="selected">Today</option>
                        <option value="last7Days">Last 7 Days</option>
                        <option value="last30Days">Last 30 Days</option>
                        <option value="chooseATimePeriod">Choose a time period</option>
                      </select>
                    </div>
                    <div class="mb-3">
                      <label class="fw-bold mb-2 text-body-highlight" for="designation">Designation</label>
                      <select class="form-select" id="designation">
                        <option value="VPAccounting" selected="selected">VP Accounting</option>
                        <option value="ceo">CEO</option>
                        <option value="creativeDirector">Creative Director</option>
                        <option value="accountant">Accountant</option>
                        <option value="executiveManager">Executive Manager</option>
                      </select>
                    </div>
                  </div>
                  <div class="modal-footer d-flex justify-content-end align-items-center px-4 pb-4 border-0 pt-3">
                    <button class="btn btn-sm btn-phoenix-primary px-4 fs-10 my-0" type="submit"> <span class="fas fa-arrows-rotate me-2 fs-10"></span>Reset</button>
                    <button class="btn btn-sm btn-primary px-9 fs-10 my-0" type="submit">Done</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="table-responsive scrollbar mx-n1 px-1">
      <table class="table fs-9 mb-0 leads-table border-top border-translucent">
        <thead>
          <tr>
            <th class="white-space-nowrap fs-9 align-middle ps-0" style="max-width:20px; width:18px;">
              <div class="form-check mb-0 fs-8">
                <input class="form-check-input" type="checkbox" data-bulk-select='{"body":"leal-tables-body"}' />
              </div>
            </th>
            <th class="sort white-space-nowrap align-middle text-uppercase ps-0" scope="col" data-sort="name" style="width:25%;">Name</th>
            <th class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent" scope="col" data-sort="email" style="width:15%;">
              <div class="d-inline-flex flex-center">
                <div class="d-flex align-items-center px-1 py-1 bg-success-subtle rounded me-2"><span class="text-success-dark" data-feather="mail"></span></div><span>Email</span>
              </div>
            </th>
            <th class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent" scope="col" data-sort="phone" style="width:15%; min-width: 180px;">
              <div class="d-inline-flex flex-center">
                <div class="d-flex align-items-center px-1 py-1 bg-primary-subtle rounded me-2"><span class="text-primary-dark" data-feather="phone"></span></div><span>Phone</span>
              </div>
            </th>
            <th class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent" scope="col" data-sort="contact" style="width:15%;">
              <div class="d-inline-flex flex-center">
                <div class="d-flex align-items-center px-1 py-1 bg-info-subtle rounded me-2"><span class="text-info-dark" data-feather="user"></span></div><span>Contact name</span>
              </div>
            </th>
            <th class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent" scope="col" data-sort="company" style="width:15%;">
              <div class="d-inline-flex flex-center">
                <div class="d-flex align-items-center px-1 py-1 bg-warning-subtle rounded me-2"><span class="text-warning-dark" data-feather="grid"></span></div><span>Company name</span>
              </div>
            </th>
            <th class="sort align-middle ps-4 pe-5 text-uppercase" scope="col" data-sort="date" style="width:15%;">Create date</th>
            <th class="sort text-end align-middle pe-0 ps-4" scope="col"></th>
          </tr>
        </thead>
        <tbody class="list" id="leal-tables-body">

          <%  @contacts.each do |contact| %>
            <%= render "contact_table_line", contact: contact %>
          <% end %>





        </tbody>
      </table>
    </div>
    <div class="row align-items-center justify-content-end py-4 pe-0 fs-9">
      <div class="col-auto d-flex">
        <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info"></p><a class="fw-semibold" href="#!" data-list-view="*">View all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a class="fw-semibold d-none" href="#!" data-list-view="less">View Less<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
      </div>
      <div class="col-auto d-flex">
        <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
        <ul class="mb-0 pagination"></ul>
        <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
      </div>
    </div>
  </div>
</div>
<footer class="footer position-absolute">
  <div class="row g-0 justify-content-between align-items-center h-100">
    <div class="col-12 col-sm-auto text-center">
      <p class="mb-0 mt-2 mt-sm-0 text-body">Thank you for creating with Phoenix<span class="d-none d-sm-inline-block"></span><span class="d-none d-sm-inline-block mx-1">|</span><br class="d-sm-none" />2024 &copy;<a class="mx-1" href="https://themewagon.com">Themewagon</a></p>
    </div>
    <div class="col-12 col-sm-auto text-center">
      <p class="mb-0 text-body-tertiary text-opacity-85">v1.15.0</p>
    </div>
  </div>
</footer>

</div>