#myTabContent.tab-content
  #tab-activity.tab-pane.fade.active.show{"aria-labelledby" => "activity-tab", :role => "tabpanel"}
    %h2.mb-4 Activity
    .row.align-items-center.g-3.justify-content-between.justify-content-start
      .col-12.col-sm-auto
        .search-box.mb-2.mb-sm-0
          %form.position-relative
            %input.form-control.search-input.search{"aria-label" => "Search", :placeholder => "Search Activity", :type => "search"}/
            %span.fas.fa-search.search-box-icon
      .col-auto
        %button.btn.btn-phoenix-primary.px-6 Add Activity
    .border-bottom.border-translucent.py-4
      .d-flex
        .d-flex.bg-primary-subtle.rounded-circle.flex-center.me-3.bg-primary-subtle{:style => "width:25px; height:25px"}
          %span.fa-solid.text-primary-dark.fs-9.fa-clipboard.text-primary-dark
        .flex-1
          .d-flex.justify-content-between.flex-column.flex-xl-row.mb-2.mb-sm-0
            .flex-1.me-2
              %h5.text-body-highlight.lh-sm Assigned as a director for Project The Chewing Gum Attack
              %p.fs-9.mb-0
                by
                %a.ms-1{:href => "#!"} Jackson Pollock
            .fs-9
              %span.fa-regular.fa-calendar-days.text-primary.me-2
              %span.fw-semibold 22 September, 2022, 4:33 PM
          %p.fs-9.mb-0 Utilizing best practices to better leverage our assets, we must engage in black sky leadership thinking, not the usual band-aid solution.
    .border-bottom.border-translucent.py-4
      .d-flex
        .d-flex.bg-primary-subtle.rounded-circle.flex-center.me-3.bg-info-subtle{:style => "width:25px; height:25px"}
          %span.fa-solid.text-primary-dark.fs-9.fa-video.text-info-600
        .flex-1
          .d-flex.justify-content-between.flex-column.flex-xl-row.mb-2.mb-sm-0
            .flex-1.me-2
              %h5.text-body-highlight.lh-sm Onboarding Meeting
              %p.fs-9.mb-0
                by
                %a.ms-1{:href => "#!"} Jackson Pollock
            .fs-9
              %span.fa-regular.fa-calendar-days.text-primary.me-2
              %span.fw-semibold 20 September, 2022, 5:31pm
    .border-bottom.border-translucent.py-4
      .d-flex
        .d-flex.bg-primary-subtle.rounded-circle.flex-center.me-3.bg-success-subtle{:style => "width:25px; height:25px"}
          %span.fa-solid.text-primary-dark.fs-9.fa-square-check.text-success-dark
        .flex-1
          .d-flex.justify-content-between.flex-column.flex-xl-row.mb-2.mb-sm-0
            .flex-1.me-2
              %h5.text-body-highlight.lh-sm Designing the dungeon
              %p.fs-9.mb-0
                by
                %a.ms-1{:href => "#!"} Jackson Pollock
            .fs-9
              %span.fa-regular.fa-calendar-days.text-primary.me-2
              %span.fw-semibold 19 September, 2022, 4:39pm
          %p.fs-9.mb-0 To get off the runway and paradigm shift, we should take brass tacks with above-the-board actionable analytics, ramp up with viral partnering, not the usual goat rodeo putting socks on an octopus.
    .border-bottom.border-translucent.py-4
      .d-flex
        .d-flex.bg-primary-subtle.rounded-circle.flex-center.me-3.bg-warning-subtle{:style => "width:25px; height:25px"}
          %span.fa-solid.text-primary-dark.fs-9.fa-phone-alt.text-warning-dark
        .flex-1
          .d-flex.justify-content-between.flex-column.flex-xl-row.mb-2.mb-sm-0
            .flex-1.me-2
              %h5.text-body-highlight.lh-sm Purchasing-Related Vendors
              %p.fs-9.mb-0
                by
                %a.ms-1{:href => "#!"} Ansolo Lazinatov
            .fs-9
              %span.fa-regular.fa-calendar-days.text-primary.me-2
              %span.fw-semibold 22 September, 2022, 4:30pm
    .border-bottom.border-translucent.py-4
      .d-flex
        .d-flex.bg-primary-subtle.rounded-circle.flex-center.me-3.bg-danger-subtle{:style => "width:25px; height:25px"}
          %span.fa-solid.text-primary-dark.fs-9.fa-envelope.text-danger-dark
        .flex-1
          .d-flex.justify-content-between.flex-column.flex-xl-row.mb-2.mb-sm-0
            .flex-1.me-2
              %h5.text-body-highlight.lh-sm Quary about purchased soccer socks
              %p.fs-9.mb-0
                by
                %a.ms-1{:href => "#!"} Ansolo Lazinatov
            .fs-9
              %span.fa-regular.fa-calendar-days.text-primary.me-2
              %span.fw-semibold 15 September, 2022, 3:33pm
          %p.fs-9.mb-0 I’ve come across your posts and found some favorable deals on your page. I’ve added a load of products to the cart and I don’t know the payment options you avail. Also, can you enlighten me about any discount.
    .pt-4
      .d-flex
        .d-flex.bg-primary-subtle.rounded-circle.flex-center.me-3.bg-primary-subtle{:style => "width:25px; height:25px"}
          %span.fa-solid.text-primary-dark.fs-9.fa-paperclip.text-primary-dark
        .flex-1
          .d-flex.justify-content-between.flex-column.flex-xl-row.mb-2.mb-sm-0
            .flex-1.me-2
              %h5.text-body-highlight.lh-sm Added image
              %p.fs-9.mb-0
                by
                %a.ms-1{:href => "#!"} Ansolo Lazinatov
            .fs-9
              %span.fa-regular.fa-calendar-days.text-primary.me-2
              %span.fw-semibold 11 September, 2022, 12:15am
  #tab-notes.tab-pane.fade{"aria-labelledby" => "notes-tab", :role => "tabpanel"}
    %h2.mb-4 Notes
    %textarea#notes.form-control.mb-3{:rows => "4"}
    .row.gy-4
      .col-12.col-xl-auto.flex-1
        .border-2.border-dashed.mb-4.pb-4.border-bottom.border-translucent
          %p.mb-1.text-body-highlight Gave us a nice feedback
          .d-flex
            .fs-9.text-body-tertiary.text-opacity-85
              %span.fa-solid.fa-clock.me-2
              %span.fw-semibold.me-1 clock 12 Nov, 2018
            %p.fs-9.mb-0.text-body-tertiary.text-opacity-85
              by
              %a.ms-1.fw-semibold{:href => "#!"} Ansolo Lazinatov
        .border-2.border-dashed.mb-4.pb-4.border-bottom.border-translucent
          %p.mb-1.text-body-highlight I also want to let you know that I am available to you as your real estate insider from now on. If you have any questions about the market, even if they sound silly, call or text anytime.
          .d-flex
            .fs-9.text-body-tertiary.text-opacity-85
              %span.fa-solid.fa-clock.me-2
              %span.fw-semibold.me-1 30 Jan, 2019
            %p.fs-9.mb-0.text-body-tertiary.text-opacity-85
              by
              %a.ms-1.fw-semibold{:href => "#!"} Ansolo Lazinatov
        .border-2.border-dashed.mb-4.pb-4.border-bottom.border-translucent
          %p.mb-1.text-body-highlight To get off the runway and paradigm shift, we should take brass tacks with above-the-board actionable analytics, ramp up with viral partnering, not the usual goat rodeo putting socks on an octopus.
          .d-flex
            .fs-9.text-body-tertiary.text-opacity-85
              %span.fa-solid.fa-clock.me-2
              %span.fw-semibold.me-1 19 September, 2022, 4:39pm
            %p.fs-9.mb-0.text-body-tertiary.text-opacity-85
              by
              %a.ms-1.fw-semibold{:href => "#!"} Jackson Pollock
        .border-2.border-dashed
          %p.mb-1.text-body-highlight Utilizing best practices to better leverage our assets, we must engage in black sky leadership thinking, not the usual band-aid solution.
          .d-flex
            .fs-9.text-body-tertiary.text-opacity-85
              %span.fa-solid.fa-clock.me-2
              %span.fw-semibold.me-1 22 September, 2022, 4:30pm
            %p.fs-9.mb-0.text-body-tertiary.text-opacity-85
              by
              %a.ms-1.fw-semibold{:href => "#!"} Ansolo Lazinatov
  #tab-meeting.tab-pane.fade{"aria-labelledby" => "meeting-tab", :role => "tabpanel"}
    %h2.mb-4 Meeting
    .row.align-items-center.g-2.flex-wrap.justify-content-start.mb-3
      .col-12.col-sm-auto
        .search-box.mb-2.mb-sm-0
          %form.position-relative
            %input.form-control.search-input.search{"aria-label" => "Search", :placeholder => "Search meeting", :type => "search"}/
            %span.fas.fa-search.search-box-icon
      .col-auto.d-flex.flex-md-grow-1
        %p.mb-0.fs-9.text-body-tertiary.fw-bold
          %span.fas.fa-filter.me-1.fw-extra-bold.fs-10>
          23 tasks
        %button.btn.btn-link.p-0.ms-3.fs-9.text-primary.fw-bold.text-decoration-none
          %span.fas.fa-sort.me-1.fw-extra-bold.fs-10>
          Sorting
      .col-auto
        %button.btn.btn-primary
          %span.fa-solid.fa-plus.me-2>
          Add Meeting
    .row.g-3
      .col-xxl-6
        .card.h-100
          .card-body
            .d-flex.justify-content-between.align-items-start.flex-wrap.mb-4.gap-2
              .mb-3.mb-sm-0
                %h4.line-clamp-1.mb-2.mb-sm-1 Onboarding Meeting
                %div
                  %span.uil.uil-calendar-alt.text-primary.me-2
                  %span.fw-semibold.text-body-secondary.fs-9 5:30 pm
                  %span.text-body-tertiary.text-opacity-85 to
                  %span.fw-semibold.text-body-secondary.fs-9 7:00pm
                  %span.text-body-secondary.fs-9 - 1h 30min
              .avatar-group.avatar-group-dense
                .avatar.avatar-s.rounded-circle
                  %img.rounded-circle{:alt => "", :src => "../../assets/img/team/9.webp"}/
                .avatar.avatar-s.rounded-circle
                  %img.rounded-circle{:alt => "", :src => "../../assets/img/team/25.webp"}/
                .avatar.avatar-s.rounded-circle
                  %img.rounded-circle{:alt => "", :src => "../../assets/img/team/32.webp"}/
                .avatar.avatar-s.rounded-circle
                  %img.rounded-circle{:alt => "", :src => "../../assets/img/team/35.webp"}/
                .avatar.avatar-s.rounded-circle
                  .avatar-name.rounded-circle
                    %span +1
            .d-flex.align-items-center
              %span.badge.badge-phoenix.me-2.badge-phoenix-primary today
              .d-flex.align-items-center.flex-1
                %span.fa-solid.fa-circle.me-1.text-danger{"data-fa-transform" => "shrink-6 up-1"}
                %span.fw-bold.fs-9.text-body Urgent
              %button.btn.btn-phoenix-primary
                %span.fa-solid.fa-video.me-2.d-none.d-sm-inline-block>
                Join
      .col-xxl-6
        .card.h-100
          .card-body
            .d-flex.justify-content-between.align-items-start.flex-wrap.mb-4.gap-2
              .mb-3.mb-sm-0
                %h4.line-clamp-1.mb-2.mb-sm-1 Agile Mindset Meetup
                %div
                  %span.uil.uil-calendar-alt.text-primary.me-2
                  %span.fw-semibold.text-body-secondary.fs-9 4:30 pm
                  %span.text-body-tertiary.text-opacity-85 to
                  %span.fw-semibold.text-body-secondary.fs-9 6:00pm
                  %span.text-body-secondary.fs-9 - 1h 30min
              .avatar-group.avatar-group-dense
                .avatar.avatar-s.rounded-circle
                  %img.rounded-circle{:alt => "", :src => "../../assets/img/team/11.webp"}/
                .avatar.avatar-s.rounded-circle
                  %img.rounded-circle{:alt => "", :src => "../../assets/img/team/26.webp"}/
                .avatar.avatar-s.rounded-circle
                  %img.rounded-circle{:alt => "", :src => "../../assets/img/team/33.webp"}/
                .avatar.avatar-s.rounded-circle
                  %img.rounded-circle{:alt => "", :src => "../../assets/img/team/30.webp"}/
                .avatar.avatar-s.rounded-circle
                  .avatar-name.rounded-circle
                    %span +1
            .d-flex.align-items-center
              %span.badge.badge-phoenix.me-2.badge-phoenix-warning tomorrow
              .d-flex.align-items-center.flex-1
                %span.fa-solid.fa-circle.me-1.text-success{"data-fa-transform" => "shrink-6 up-1"}
                %span.fw-bold.fs-9.text-body Medium
              %button.btn.btn-phoenix-primary
                %span.fa-solid.fa-video.me-2.d-none.d-sm-inline-block>
                Join
      .col-xxl-6
        .card.h-100
          .card-body
            .d-flex.justify-content-between.align-items-start.flex-wrap.mb-4.gap-2
              .mb-3.mb-sm-0
                %h4.line-clamp-1.mb-2.mb-sm-1 Meeting Fundamentals
                %div
                  %span.uil.uil-calendar-alt.text-primary.me-2
                  %span.fw-semibold.text-body-secondary.fs-9 6:00 pm
                  %span.text-body-tertiary.text-opacity-85 to
                  %span.fw-semibold.text-body-secondary.fs-9 7:20pm
                  %span.text-body-secondary.fs-9 - 1h 20min
              .avatar-group.avatar-group-dense
                .avatar.avatar-s.rounded-circle
                  .avatar-name.rounded-circle
                    %span R
                .avatar.avatar-s.rounded-circle
                  %img.rounded-circle{:alt => "", :src => "../../assets/img/team/12.webp"}/
                .avatar.avatar-s.rounded-circle
                  %img.rounded-circle{:alt => "", :src => "../../assets/img/team/28.webp"}/
                .avatar.avatar-s.rounded-circle
                  %img.rounded-circle{:alt => "", :src => "../../assets/img/team/22.webp"}/
                .avatar.avatar-s.rounded-circle
                  .avatar-name.rounded-circle
                    %span +2
            .d-flex.align-items-center
              %span.badge.badge-phoenix.me-2.badge-phoenix-warning tomorrow
              .d-flex.align-items-center.flex-1
                %span.fa-solid.fa-circle.me-1.text-warning{"data-fa-transform" => "shrink-6 up-1"}
                %span.fw-bold.fs-9.text-body High
              %button.btn.btn-phoenix-primary
                %span.fa-solid.fa-video.me-2.d-none.d-sm-inline-block>
                Join
      .col-xxl-6
        .card.h-100
          .card-body
            .d-flex.justify-content-between.align-items-start.flex-wrap.mb-4.gap-2
              .mb-3.mb-sm-0
                %h4.line-clamp-1.mb-2.mb-sm-1 Design System Meeting
                %div
                  %span.uil.uil-calendar-alt.text-primary.me-2
                  %span.fw-semibold.text-body-secondary.fs-9 7:30 pm
                  %span.text-body-tertiary.text-opacity-85 to
                  %span.fw-semibold.text-body-secondary.fs-9 8:45pm
                  %span.text-body-secondary.fs-9 - 1h 45min
              .avatar-group.avatar-group-dense
                .avatar.avatar-s.rounded-circle
                  %img.rounded-circle{:alt => "", :src => "../../assets/img/team/13.webp"}/
                .avatar.avatar-s.rounded-circle
                  %img.rounded-circle{:alt => "", :src => "../../assets/img/team/24.webp"}/
                .avatar.avatar-s.rounded-circle
                  %img.rounded-circle{:alt => "", :src => "../../assets/img/team/62.webp"}/
                .avatar.avatar-s.rounded-circle
                  %img.rounded-circle{:alt => "", :src => "../../assets/img/team/34.webp"}/
                .avatar.avatar-s.rounded-circle
                  .avatar-name.rounded-circle
                    %span +4
            .d-flex.align-items-center
              %span.badge.badge-phoenix.me-2.badge-phoenix-warning tomorrow
              .d-flex.align-items-center.flex-1
                %span.fa-solid.fa-circle.me-1.text-info{"data-fa-transform" => "shrink-6 up-1"}
                %span.fw-bold.fs-9.text-body Low
              %button.btn.btn-phoenix-primary
                %span.fa-solid.fa-video.me-2.d-none.d-sm-inline-block>
                Join
  #tab-task.tab-pane.fade{"aria-labelledby" => "task-tab", :role => "tabpanel"}
    %h2.mb-4 Tasks
    .row.align-items-center.g-0.justify-content-start.mb-3
      .col-12.col-sm-auto
        .search-box.w-100.mb-2.mb-sm-0{:style => "max-width:30rem;"}
          %form.position-relative
            %input.form-control.search-input.search{"aria-label" => "Search", :placeholder => "Search tasks", :type => "search"}/
            %span.fas.fa-search.search-box-icon
      .col-auto.d-flex
        %p.mb-0.ms-sm-3.fs-9.text-body-tertiary.fw-bold
          %span.fas.fa-filter.me-1.fw-extra-bold.fs-10>
          23 tasks
        %button.btn.btn-link.p-0.ms-3.fs-9.text-primary.fw-bold
          %span.fas.fa-sort.me-1.fw-extra-bold.fs-10>
          Sorting
    .row.justify-content-between.align-items-md-center.hover-actions-trigger.btn-reveal-trigger.border-translucent.py-3.gx-0.border-top
      .col-12.col-lg-auto.flex-1
        %div{"data-todo-offcanvas-target" => "todoOffcanvas-1", "data-todo-offcanvas-toogle" => "data-todo-offcanvas-toogle"}
          .form-check.mb-1.mb-md-0.d-flex.align-items-center.lh-1
            %input#checkbox-todo-0.form-check-input.flex-shrink-0.form-check-line-through.mt-0.me-2.form-check-input-undefined{:type => "checkbox"}/
            %label.form-check-label.mb-0.fs-8.me-2.line-clamp-1{:for => "checkbox-todo-0"} Platforms for data administration
      .col-12.col-lg-auto
        .d-flex.ms-4.lh-1.align-items-center
          %p.text-body-tertiary.fs-10.mb-md-0.me-2.me-lg-3.mb-0 19 Nov, 2022
          .d-none.d-lg-block.end-0.position-absolute{:style => "top: 23%;"}
            .hover-actions.end-0
              %button.btn.btn-phoenix-secondary.btn-icon.me-1.fs-10.text-body.px-0.me-1
                %span.fas.fa-edit
              %button.btn.btn-phoenix-secondary.btn-icon.fs-10.text-danger.px-0
                %span.fas.fa-trash
          .hover-lg-hide
            %p.text-body-tertiary.fs-10.ps-lg-3.border-start-lg.fw-bold.mb-md-0.mb-0 11:56 PM
    .row.justify-content-between.align-items-md-center.hover-actions-trigger.btn-reveal-trigger.border-translucent.py-3.gx-0.border-top
      .col-12.col-lg-auto.flex-1
        %div{"data-todo-offcanvas-target" => "todoOffcanvas-2", "data-todo-offcanvas-toogle" => "data-todo-offcanvas-toogle"}
          .form-check.mb-1.mb-md-0.d-flex.align-items-center.lh-1
            %input#checkbox-todo-1.form-check-input.flex-shrink-0.form-check-line-through.mt-0.me-2.form-check-input-undefined{:type => "checkbox"}/
            %label.form-check-label.mb-0.fs-8.me-2.line-clamp-1{:for => "checkbox-todo-1"} Make wiser business choices.
      .col-12.col-lg-auto
        .d-flex.ms-4.lh-1.align-items-center
          %p.text-body-tertiary.fs-10.mb-md-0.me-2.me-lg-3.mb-0 05 Nov, 2022
          .d-none.d-lg-block.end-0.position-absolute{:style => "top: 23%;"}
            .hover-actions.end-0
              %button.btn.btn-phoenix-secondary.btn-icon.me-1.fs-10.text-body.px-0.me-1
                %span.fas.fa-edit
              %button.btn.btn-phoenix-secondary.btn-icon.fs-10.text-danger.px-0
                %span.fas.fa-trash
          .hover-lg-hide
            %p.text-body-tertiary.fs-10.ps-lg-3.border-start-lg.fw-bold.mb-md-0.mb-0 09:30 PM
    .row.justify-content-between.align-items-md-center.hover-actions-trigger.btn-reveal-trigger.border-translucent.py-3.gx-0.border-top
      .col-12.col-lg-auto.flex-1
        %div{"data-todo-offcanvas-target" => "todoOffcanvas-3", "data-todo-offcanvas-toogle" => "data-todo-offcanvas-toogle"}
          .form-check.mb-1.mb-md-0.d-flex.align-items-center.lh-1
            %input#checkbox-todo-2.form-check-input.flex-shrink-0.form-check-line-through.mt-0.me-2.form-check-input-undefined{:type => "checkbox"}/
            %label.form-check-label.mb-0.fs-8.me-2.line-clamp-1{:for => "checkbox-todo-2"} Market and consumer insights
      .col-12.col-lg-auto
        .d-flex.ms-4.lh-1.align-items-center
          %p.text-body-tertiary.fs-10.mb-md-0.me-2.me-lg-3.mb-0 02 Nov, 2022
          .d-none.d-lg-block.end-0.position-absolute{:style => "top: 23%;"}
            .hover-actions.end-0
              %button.btn.btn-phoenix-secondary.btn-icon.me-1.fs-10.text-body.px-0.me-1
                %span.fas.fa-edit
              %button.btn.btn-phoenix-secondary.btn-icon.fs-10.text-danger.px-0
                %span.fas.fa-trash
          .hover-lg-hide
            %p.text-body-tertiary.fs-10.ps-lg-3.border-start-lg.fw-bold.mb-md-0.mb-0 05:25 AM
    .row.justify-content-between.align-items-md-center.hover-actions-trigger.btn-reveal-trigger.border-translucent.py-3.gx-0.border-top
      .col-12.col-lg-auto.flex-1
        %div{"data-todo-offcanvas-target" => "todoOffcanvas-4", "data-todo-offcanvas-toogle" => "data-todo-offcanvas-toogle"}
          .form-check.mb-1.mb-md-0.d-flex.align-items-center.lh-1
            %input#checkbox-todo-3.form-check-input.flex-shrink-0.form-check-line-through.mt-0.me-2.form-check-input-undefined{:type => "checkbox"}/
            %label.form-check-label.mb-0.fs-8.me-2.line-clamp-1{:for => "checkbox-todo-3"} Dashboards for business insights
      .col-12.col-lg-auto
        .d-flex.ms-4.lh-1.align-items-center
          %p.text-body-tertiary.fs-10.mb-md-0.me-2.me-lg-3.mb-0 29 Oct, 2022
          .d-none.d-lg-block.end-0.position-absolute{:style => "top: 23%;"}
            .hover-actions.end-0
              %button.btn.btn-phoenix-secondary.btn-icon.me-1.fs-10.text-body.px-0.me-1
                %span.fas.fa-edit
              %button.btn.btn-phoenix-secondary.btn-icon.fs-10.text-danger.px-0
                %span.fas.fa-trash
          .hover-lg-hide
            %p.text-body-tertiary.fs-10.ps-lg-3.border-start-lg.fw-bold.mb-md-0.mb-0 08:21 PM
    .row.justify-content-between.align-items-md-center.hover-actions-trigger.btn-reveal-trigger.border-translucent.py-3.gx-0.border-top
      .col-12.col-lg-auto.flex-1
        %div{"data-todo-offcanvas-target" => "todoOffcanvas-5", "data-todo-offcanvas-toogle" => "data-todo-offcanvas-toogle"}
          .form-check.mb-1.mb-md-0.d-flex.align-items-center.lh-1
            %input#checkbox-todo-4.form-check-input.flex-shrink-0.form-check-line-through.mt-0.me-2.form-check-input-undefined{:checked => "checked", :type => "checkbox"}/
            %label.form-check-label.mb-0.fs-8.me-2.line-clamp-1{:for => "checkbox-todo-4"} Analytics and consultancy for data
      .col-12.col-lg-auto
        .d-flex.ms-4.lh-1.align-items-center
          %p.text-body-tertiary.fs-10.mb-md-0.me-2.me-lg-3.mb-0 21 Oct, 2022
          .d-none.d-lg-block.end-0.position-absolute{:style => "top: 23%;"}
            .hover-actions.end-0
              %button.btn.btn-phoenix-secondary.btn-icon.me-1.fs-10.text-body.px-0.me-1
                %span.fas.fa-edit
              %button.btn.btn-phoenix-secondary.btn-icon.fs-10.text-danger.px-0
                %span.fas.fa-trash
          .hover-lg-hide
            %p.text-body-tertiary.fs-10.ps-lg-3.border-start-lg.fw-bold.mb-md-0.mb-0 03:45 PM
    .row.justify-content-between.align-items-md-center.hover-actions-trigger.btn-reveal-trigger.border-translucent.py-3.gx-0.border-top
      .col-12.col-lg-auto.flex-1
        %div{"data-todo-offcanvas-target" => "todoOffcanvas-6", "data-todo-offcanvas-toogle" => "data-todo-offcanvas-toogle"}
          .form-check.mb-1.mb-md-0.d-flex.align-items-center.lh-1
            %input#checkbox-todo-5.form-check-input.flex-shrink-0.form-check-line-through.mt-0.me-2.form-check-input-undefined{:checked => "checked", :type => "checkbox"}/
            %label.form-check-label.mb-0.fs-8.me-2.line-clamp-1{:for => "checkbox-todo-5"} Planning your locations Customer data platform
      .col-12.col-lg-auto
        .d-flex.ms-4.lh-1.align-items-center
          %p.text-body-tertiary.fs-10.mb-md-0.me-2.me-lg-3.mb-0 14 Oct, 2022
          .d-none.d-lg-block.end-0.position-absolute{:style => "top: 23%;"}
            .hover-actions.end-0
              %button.btn.btn-phoenix-secondary.btn-icon.me-1.fs-10.text-body.px-0.me-1
                %span.fas.fa-edit
              %button.btn.btn-phoenix-secondary.btn-icon.fs-10.text-danger.px-0
                %span.fas.fa-trash
          .hover-lg-hide
            %p.text-body-tertiary.fs-10.ps-lg-3.border-start-lg.fw-bold.mb-md-0.mb-0 10:00 PM
    .row.justify-content-between.align-items-md-center.hover-actions-trigger.btn-reveal-trigger.border-translucent.py-3.gx-0.border-top
      .col-12.col-lg-auto.flex-1
        %div{"data-todo-offcanvas-target" => "todoOffcanvas-7", "data-todo-offcanvas-toogle" => "data-todo-offcanvas-toogle"}
          .form-check.mb-1.mb-md-0.d-flex.align-items-center.lh-1
            %input#checkbox-todo-6.form-check-input.flex-shrink-0.form-check-line-through.mt-0.me-2.form-check-input-undefined{:checked => "checked", :type => "checkbox"}/
            %label.form-check-label.mb-0.fs-8.me-2.line-clamp-1{:for => "checkbox-todo-6"} Promotion of technology
      .col-12.col-lg-auto
        .d-flex.ms-4.lh-1.align-items-center
          %p.text-body-tertiary.fs-10.mb-md-0.me-2.me-lg-3.mb-0 12 Oct, 2022
          .d-none.d-lg-block.end-0.position-absolute{:style => "top: 23%;"}
            .hover-actions.end-0
              %button.btn.btn-phoenix-secondary.btn-icon.me-1.fs-10.text-body.px-0.me-1
                %span.fas.fa-edit
              %button.btn.btn-phoenix-secondary.btn-icon.fs-10.text-danger.px-0
                %span.fas.fa-trash
          .hover-lg-hide
            %p.text-body-tertiary.fs-10.ps-lg-3.border-start-lg.fw-bold.mb-md-0.mb-0 02:00 AM
    %a.fw-bold.fs-9.mt-4{:href => "#!"}
      %span.fas.fa-plus.me-1>
      Add new task
  #tab-call.tab-pane.fade{"aria-labelledby" => "call-tab", :role => "tabpanel"}
    .row.align-items-center.gx-4.gy-3.flex-wrap.mb-3
      .col-auto.d-flex.flex-1
        %h2.mb-0 Call
      .col-auto
        .d-flex.gap-3.gap-sm-4
          .form-check
            %input#allCall.form-check-input{:checked => "checked", :name => "allCall", :type => "radio"}/
            %label.form-check-label{:for => "allCall"} All Call
          .form-check
            %input#incomingCall.form-check-input{:name => "allCall", :type => "radio"}/
            %label.form-check-label{:for => "incomingCall"} Incoming Call
          .form-check
            %input#outgoingCall.form-check-input{:name => "allCall", :type => "radio"}/
            %label.form-check-label{:for => "outgoingCall"} OutgoingCall
      .col-auto
        %button.btn.btn-primary
          %span.fa-solid.fa-plus.me-2>
          Add Call
    #leadDetailsTable.border-top.border-bottom.border-translucent{"data-list" => "{\"valueNames\":[\"name\",\"description\",\"create_date\",\"create_by\",\"last_activity\"],\"page\":5,\"pagination\":true}"}
      .table-responsive.scrollbar.mx-n1.px-1
        %table.table.fs-9.mb-0
          %thead
            %tr
              %th.white-space-nowrap.fs-9.align-middle.ps-0{:style => "width:26px;"}
                .form-check.mb-0.fs-8
                  %input.form-check-input{"data-bulk-select" => "{\"body\":\"lead-details-table-body\"}", :type => "checkbox"}/
              %th.sort.white-space-nowrap.align-middle.pe-3.ps-0.text-uppercase{"data-sort" => "name", :scope => "col", :style => "width:20%; min-width:100px"} Name
              %th.sort.align-middle.pe-6.text-uppercase{"data-sort" => "description", :scope => "col", :style => "width:20%; max-width:60px"} description
              %th.sort.align-middle.text-start.text-uppercase{"data-sort" => "create_date", :scope => "col", :style => "width:20%; min-width:115px"} create date
              %th.sort.align-middle.text-start.text-uppercase{"data-sort" => "create_by", :scope => "col", :style => "width:20%; min-width:150px"} create by
              %th.sort.align-middle.ps-0.text-end.text-uppercase{"data-sort" => "last_activity", :scope => "col", :style => "width:20%; max-width:115px"} Last Activity
              %th.align-middle.pe-0.text-end{:scope => "col", :style => "width:15%;"}
          %tbody#lead-details-table-body.list
            %tr.hover-actions-trigger.btn-reveal-trigger.position-static
              %td.fs-9.align-middle.px-0.py-3
                .form-check.mb-0.fs-8
                  %input.form-check-input{"data-bulk-select-row" => "{\"Name\":{\"avatar\":\"/team/35.webp\",\"name\":\"Ansolo Lazinatov\",\"status\":\"online\"},\"description\":\"Purchasing-Related Vendors\",\"date\":\"Dec 29, 2021\",\"creatBy\":\"Ansolo Lazinarov\",\"lastActivity\":{\"iconColor\":\"text-success\",\"label\":\"Active\"}}", :type => "checkbox"}/
              %td.name.align-middle.white-space-nowrap.py-2.ps-0
                %a.d-flex.align-items-center.text-body-highlight{:href => "#!"}
                  .avatar.avatar-m.me-3.status-online
                    %img.rounded-circle{:alt => "", :src => "../../assets/img/team/35.webp"}/
                  %h6.mb-0.text-body-highlight.fw-bold Ansolo Lazinatov
              %td.description.align-middle.white-space-nowrap.text-start.fw-bold.text-body-tertiary.py-2.pe-6 Purchasing-Related Vendors
              %td.create_date.text-end.align-middle.white-space-nowrap.text-body.py-2 Dec 29, 2021
              %td.create_by.align-middle.white-space-nowrap.fw-semibold.text-body-highlight Ansolo Lazinarov
              %td.last_activity.align-middle.text-center.py-2
                .d-flex.align-items-center.flex-1
                  %span.fa-solid.fa-clock.me-1.text-success{"data-fa-transform" => "shrink-2 up-1"}
                  %span.fw-bold.fs-9.text-body Active
              %td.align-middle.text-end.white-space-nowrap.pe-0.action.py-2
                .btn-reveal-trigger.position-static
                  %button.btn.btn-sm.dropdown-toggle.dropdown-caret-none.transition-none.btn-reveal{"aria-expanded" => "false", "aria-haspopup" => "true", "data-boundary" => "window", "data-bs-reference" => "parent", "data-bs-toggle" => "dropdown", :type => "button"}
                    %span.fas.fa-ellipsis-h.fs-10
                  .dropdown-menu.dropdown-menu-end.py-2
                    %a.dropdown-item{:href => "#!"} View
                    %a.dropdown-item{:href => "#!"} Export
                    .dropdown-divider
                    %a.dropdown-item.text-danger{:href => "#!"} Remove
            %tr.hover-actions-trigger.btn-reveal-trigger.position-static
              %td.fs-9.align-middle.px-0.py-3
                .form-check.mb-0.fs-8
                  %input.form-check-input{"data-bulk-select-row" => "{\"Name\":{\"avatar\":\"/team/9.webp\",\"name\":\"Jackson Pollock\",\"status\":\"offline\"},\"description\":\"Based on emails sent rate, the top 10 users\",\"date\":\"Mar 27, 2021\",\"creatBy\":\"Jackson Pollock\",\"lastActivity\":{\"iconColor\":\"text-body-quaternary\",\"label\":\"6 hours ago\"}}", :type => "checkbox"}/
              %td.name.align-middle.white-space-nowrap.py-2.ps-0
                %a.d-flex.align-items-center.text-body-highlight{:href => "#!"}
                  .avatar.avatar-m.me-3.status-offline
                    %img.rounded-circle{:alt => "", :src => "../../assets/img/team/9.webp"}/
                  %h6.mb-0.text-body-highlight.fw-bold Jackson Pollock
              %td.description.align-middle.white-space-nowrap.text-start.fw-bold.text-body-tertiary.py-2.pe-6 Based on emails sent rate, the top 10 users
              %td.create_date.text-end.align-middle.white-space-nowrap.text-body.py-2 Mar 27, 2021
              %td.create_by.align-middle.white-space-nowrap.fw-semibold.text-body-highlight Jackson Pollock
              %td.last_activity.align-middle.text-center.py-2
                .d-flex.align-items-center.flex-1
                  %span.fa-solid.fa-clock.me-1.text-body-quaternary{"data-fa-transform" => "shrink-2 up-1"}
                  %span.fw-bold.fs-9.text-body 6 hours ago
              %td.align-middle.text-end.white-space-nowrap.pe-0.action.py-2
                .btn-reveal-trigger.position-static
                  %button.btn.btn-sm.dropdown-toggle.dropdown-caret-none.transition-none.btn-reveal{"aria-expanded" => "false", "aria-haspopup" => "true", "data-boundary" => "window", "data-bs-reference" => "parent", "data-bs-toggle" => "dropdown", :type => "button"}
                    %span.fas.fa-ellipsis-h.fs-10
                  .dropdown-menu.dropdown-menu-end.py-2
                    %a.dropdown-item{:href => "#!"} View
                    %a.dropdown-item{:href => "#!"} Export
                    .dropdown-divider
                    %a.dropdown-item.text-danger{:href => "#!"} Remove
            %tr.hover-actions-trigger.btn-reveal-trigger.position-static
              %td.fs-9.align-middle.px-0.py-3
                .form-check.mb-0.fs-8
                  %input.form-check-input{"data-bulk-select-row" => "{\"Name\":{\"avatar\":\"/team/35.webp\",\"name\":\"Ansolo Lazinatov\",\"status\":\"online\"},\"description\":\"Based on the percentage of recipients\",\"date\":\"Jun 24, 2021\",\"creatBy\":\"Ansolo Lazinarov\",\"lastActivity\":{\"iconColor\":\"text-success\",\"label\":\"Active\"}}", :type => "checkbox"}/
              %td.name.align-middle.white-space-nowrap.py-2.ps-0
                %a.d-flex.align-items-center.text-body-highlight{:href => "#!"}
                  .avatar.avatar-m.me-3.status-online
                    %img.rounded-circle{:alt => "", :src => "../../assets/img/team/35.webp"}/
                  %h6.mb-0.text-body-highlight.fw-bold Ansolo Lazinatov
              %td.description.align-middle.white-space-nowrap.text-start.fw-bold.text-body-tertiary.py-2.pe-6 Based on the percentage of recipients
              %td.create_date.text-end.align-middle.white-space-nowrap.text-body.py-2 Jun 24, 2021
              %td.create_by.align-middle.white-space-nowrap.fw-semibold.text-body-highlight Ansolo Lazinarov
              %td.last_activity.align-middle.text-center.py-2
                .d-flex.align-items-center.flex-1
                  %span.fa-solid.fa-clock.me-1.text-success{"data-fa-transform" => "shrink-2 up-1"}
                  %span.fw-bold.fs-9.text-body Active
              %td.align-middle.text-end.white-space-nowrap.pe-0.action.py-2
                .btn-reveal-trigger.position-static
                  %button.btn.btn-sm.dropdown-toggle.dropdown-caret-none.transition-none.btn-reveal{"aria-expanded" => "false", "aria-haspopup" => "true", "data-boundary" => "window", "data-bs-reference" => "parent", "data-bs-toggle" => "dropdown", :type => "button"}
                    %span.fas.fa-ellipsis-h.fs-10
                  .dropdown-menu.dropdown-menu-end.py-2
                    %a.dropdown-item{:href => "#!"} View
                    %a.dropdown-item{:href => "#!"} Export
                    .dropdown-divider
                    %a.dropdown-item.text-danger{:href => "#!"} Remove
            %tr.hover-actions-trigger.btn-reveal-trigger.position-static
              %td.fs-9.align-middle.px-0.py-3
                .form-check.mb-0.fs-8
                  %input.form-check-input{"data-bulk-select-row" => "{\"Name\":{\"avatar\":\"/team/9.webp\",\"name\":\"Jackson Pollock\",\"status\":\"offline\"},\"description\":\"Obtaining leads today\",\"date\":\"May 19, 2024\",\"creatBy\":\"Jackson Pollock\",\"lastActivity\":{\"iconColor\":\"text-body-quaternary\",\"label\":\"6 hours ago\"}}", :type => "checkbox"}/
              %td.name.align-middle.white-space-nowrap.py-2.ps-0
                %a.d-flex.align-items-center.text-body-highlight{:href => "#!"}
                  .avatar.avatar-m.me-3.status-offline
                    %img.rounded-circle{:alt => "", :src => "../../assets/img/team/9.webp"}/
                  %h6.mb-0.text-body-highlight.fw-bold Jackson Pollock
              %td.description.align-middle.white-space-nowrap.text-start.fw-bold.text-body-tertiary.py-2.pe-6 Obtaining leads today
              %td.create_date.text-end.align-middle.white-space-nowrap.text-body.py-2 May 19, 2024
              %td.create_by.align-middle.white-space-nowrap.fw-semibold.text-body-highlight Jackson Pollock
              %td.last_activity.align-middle.text-center.py-2
                .d-flex.align-items-center.flex-1
                  %span.fa-solid.fa-clock.me-1.text-body-quaternary{"data-fa-transform" => "shrink-2 up-1"}
                  %span.fw-bold.fs-9.text-body 6 hours ago
              %td.align-middle.text-end.white-space-nowrap.pe-0.action.py-2
                .btn-reveal-trigger.position-static
                  %button.btn.btn-sm.dropdown-toggle.dropdown-caret-none.transition-none.btn-reveal{"aria-expanded" => "false", "aria-haspopup" => "true", "data-boundary" => "window", "data-bs-reference" => "parent", "data-bs-toggle" => "dropdown", :type => "button"}
                    %span.fas.fa-ellipsis-h.fs-10
                  .dropdown-menu.dropdown-menu-end.py-2
                    %a.dropdown-item{:href => "#!"} View
                    %a.dropdown-item{:href => "#!"} Export
                    .dropdown-divider
                    %a.dropdown-item.text-danger{:href => "#!"} Remove
            %tr.hover-actions-trigger.btn-reveal-trigger.position-static
              %td.fs-9.align-middle.px-0.py-3
                .form-check.mb-0.fs-8
                  %input.form-check-input{"data-bulk-select-row" => "{\"Name\":{\"avatar\":\"/team/35.webp\",\"name\":\"Ansolo Lazinatov\",\"status\":\"online\"},\"description\":\"Sums up the many phases of new and existing businesses.\",\"date\":\"Aug 19, 2024\",\"creatBy\":\"Ansolo Lazinarov\",\"lastActivity\":{\"iconColor\":\"text-success\",\"label\":\"Active\"}}", :type => "checkbox"}/
              %td.name.align-middle.white-space-nowrap.py-2.ps-0
                %a.d-flex.align-items-center.text-body-highlight{:href => "#!"}
                  .avatar.avatar-m.me-3.status-online
                    %img.rounded-circle{:alt => "", :src => "../../assets/img/team/35.webp"}/
                  %h6.mb-0.text-body-highlight.fw-bold Ansolo Lazinatov
              %td.description.align-middle.white-space-nowrap.text-start.fw-bold.text-body-tertiary.py-2.pe-6 Sums up the many phases of new and existing businesses.
              %td.create_date.text-end.align-middle.white-space-nowrap.text-body.py-2 Aug 19, 2024
              %td.create_by.align-middle.white-space-nowrap.fw-semibold.text-body-highlight Ansolo Lazinarov
              %td.last_activity.align-middle.text-center.py-2
                .d-flex.align-items-center.flex-1
                  %span.fa-solid.fa-clock.me-1.text-success{"data-fa-transform" => "shrink-2 up-1"}
                  %span.fw-bold.fs-9.text-body Active
              %td.align-middle.text-end.white-space-nowrap.pe-0.action.py-2
                .btn-reveal-trigger.position-static
                  %button.btn.btn-sm.dropdown-toggle.dropdown-caret-none.transition-none.btn-reveal{"aria-expanded" => "false", "aria-haspopup" => "true", "data-boundary" => "window", "data-bs-reference" => "parent", "data-bs-toggle" => "dropdown", :type => "button"}
                    %span.fas.fa-ellipsis-h.fs-10
                  .dropdown-menu.dropdown-menu-end.py-2
                    %a.dropdown-item{:href => "#!"} View
                    %a.dropdown-item{:href => "#!"} Export
                    .dropdown-divider
                    %a.dropdown-item.text-danger{:href => "#!"} Remove
            %tr.hover-actions-trigger.btn-reveal-trigger.position-static
              %td.fs-9.align-middle.px-0.py-3
                .form-check.mb-0.fs-8
                  %input.form-check-input{"data-bulk-select-row" => "{\"Name\":{\"avatar\":\"/team/35.webp\",\"name\":\"Ansolo Lazinatov\",\"status\":\"online\"},\"description\":\"Purchasing-Related Vendors\",\"date\":\"Aug 19, 2024\",\"creatBy\":\"Ansolo Lazinarov\",\"lastActivity\":{\"iconColor\":\"text-success\",\"label\":\"Active\"}}", :type => "checkbox"}/
              %td.name.align-middle.white-space-nowrap.py-2.ps-0
                %a.d-flex.align-items-center.text-body-highlight{:href => "#!"}
                  .avatar.avatar-m.me-3.status-online
                    %img.rounded-circle{:alt => "", :src => "../../assets/img/team/35.webp"}/
                  %h6.mb-0.text-body-highlight.fw-bold Ansolo Lazinatov
              %td.description.align-middle.white-space-nowrap.text-start.fw-bold.text-body-tertiary.py-2.pe-6 Purchasing-Related Vendors
              %td.create_date.text-end.align-middle.white-space-nowrap.text-body.py-2 Aug 19, 2024
              %td.create_by.align-middle.white-space-nowrap.fw-semibold.text-body-highlight Ansolo Lazinarov
              %td.last_activity.align-middle.text-center.py-2
                .d-flex.align-items-center.flex-1
                  %span.fa-solid.fa-clock.me-1.text-success{"data-fa-transform" => "shrink-2 up-1"}
                  %span.fw-bold.fs-9.text-body Active
              %td.align-middle.text-end.white-space-nowrap.pe-0.action.py-2
                .btn-reveal-trigger.position-static
                  %button.btn.btn-sm.dropdown-toggle.dropdown-caret-none.transition-none.btn-reveal{"aria-expanded" => "false", "aria-haspopup" => "true", "data-boundary" => "window", "data-bs-reference" => "parent", "data-bs-toggle" => "dropdown", :type => "button"}
                    %span.fas.fa-ellipsis-h.fs-10
                  .dropdown-menu.dropdown-menu-end.py-2
                    %a.dropdown-item{:href => "#!"} View
                    %a.dropdown-item{:href => "#!"} Export
                    .dropdown-divider
                    %a.dropdown-item.text-danger{:href => "#!"} Remove
      .row.align-items-center.justify-content-between.py-2.pe-0.fs-9
        .col-auto.d-flex
          %p.mb-0.d-none.d-sm-block.me-3.fw-semibold.text-body{"data-list-info" => "data-list-info"}
          %a.fw-semibold{"data-list-view" => "*", :href => "#!"}
            View all
            %span.fas.fa-angle-right.ms-1{"data-fa-transform" => "down-1"}
          %a.fw-semibold.d-none{"data-list-view" => "less", :href => "#!"}
            View Less
            %span.fas.fa-angle-right.ms-1{"data-fa-transform" => "down-1"}
        .col-auto.d-flex
          %button.page-link{"data-list-pagination" => "prev"}
            %span.fas.fa-chevron-left
          %ul.mb-0.pagination
          %button.page-link.pe-0{"data-list-pagination" => "next"}
            %span.fas.fa-chevron-right
  #tab-emails.tab-pane.fade{"aria-labelledby" => "emails-tab", :role => "tabpanel"}
    %h2.mb-4 Emails
    %div
      .scrollbar
        %ul#emailTab.nav.nav-underline.fs-9.flex-nowrap.mb-1{:role => "tablist"}
          %li.nav-item.me-3
            %a#mail-tab.nav-link.text-nowrap.border-0.active{"aria-controls" => "mail-tab", "aria-selected" => "true", "data-bs-toggle" => "tab", :href => "#tab-mail", :role => "tab"}
              Mails (68)
              %span.text-body-tertiary.fw-normal
          %li.nav-item.me-3
            %a#drafts-tab.nav-link.text-nowrap.border-0{"aria-controls" => "drafts-tab", "aria-selected" => "true", "data-bs-toggle" => "tab", :href => "#tab-drafts", :role => "tab"}
              Drafts (6)
              %span.text-body-tertiary.fw-normal
          %li.nav-item.me-3
            %a#schedule-tab.nav-link.text-nowrap.border-0{"aria-controls" => "schedule-tab", "aria-selected" => "true", "data-bs-toggle" => "tab", :href => "#tab-schedule", :role => "tab"} Scheduled (17)
      .search-box.w-100.mb-3
        %form.position-relative
          %input.form-control.search-input.search{"aria-label" => "Search", :placeholder => "Search...", :type => "search"}/
          %span.fas.fa-search.search-box-icon
      #profileTabContent.tab-content
        #tab-mail.tab-pane.fade.show.active{"aria-labelledby" => "mail-tab", :role => "tabpanel"}
          #allEmailsTable.border-top.border-bottom.border-translucent{"data-list" => "{\"valueNames\":[\"subject\",\"sent\",\"date\",\"source\",\"status\"],\"page\":7,\"pagination\":true}"}
            .table-responsive.scrollbar.mx-n1.px-1
              %table.table.fs-9.mb-0
                %thead
                  %tr
                    %th.white-space-nowrap.fs-9.align-middle.ps-0{:style => "width:26px;"}
                      .form-check.mb-0.fs-8
                        %input.form-check-input{"data-bulk-select" => "{\"body\":\"all-email-table-body\"}", :type => "checkbox"}/
                    %th.sort.white-space-nowrap.align-middle.pe-3.ps-0.text-uppercase{"data-sort" => "subject", :scope => "col", :style => "width:31%; min-width:350px"} Subject
                    %th.sort.align-middle.pe-3.text-uppercase{"data-sort" => "sent", :scope => "col", :style => "width:15%; min-width:130px"} Sent by
                    %th.sort.align-middle.text-start.text-uppercase{"data-sort" => "date", :scope => "col", :style => "min-width:165px"} Date
                    %th.sort.align-middle.pe-0.text-uppercase{:scope => "col", :style => "width:15%; min-width:100px"} Action
                    %th.sort.align-middle.text-end.text-uppercase{"data-sort" => "status", :scope => "col", :style => "width:15%; min-width:100px"} Status
                %tbody#all-email-table-body.list
                  %tr.hover-actions-trigger.btn-reveal-trigger.position-static
                    %td.fs-9.align-middle.px-0.py-3
                      .form-check.mb-0.fs-8
                        %input.form-check-input{"data-bulk-select-row" => "{\"mail\":{\"subject\":\"Quary about purchased soccer socks\",\"email\":\"jackson@mail.com\"},\"active\":true,\"sent\":\"Jackson Pollock\",\"date\":\"Dec 29, 2021 10:23 am\",\"source\":\"Call\",\"type_status\":{\"label\":\"sent\",\"type\":\"badge-phoenix-success\"}}", :type => "checkbox"}/
                    %td.subject.order.align-middle.white-space-nowrap.py-2.ps-0
                      %a.fw-semibold.text-primary{:href => "#!"} Quary about purchased soccer socks
                      .fs-10.d-block jackson@mail.com
                    %td.sent.align-middle.white-space-nowrap.text-start.fw-bold.text-body-tertiary.py-2 Jackson Pollock
                    %td.date.align-middle.white-space-nowrap.text-body.py-2 Dec 29, 2021 10:23 am
                    %td.align-middle.white-space-nowrap.ps-3
                      %span.fa-solid.fa-phone.text-primary.me-2>
                      Call
                    %td.status.align-middle.fw-semibold.text-end.py-2
                      %span.badge.badge-phoenix.fs-10.badge-phoenix-success sent
                  %tr.hover-actions-trigger.btn-reveal-trigger.position-static
                    %td.fs-9.align-middle.px-0.py-3
                      .form-check.mb-0.fs-8
                        %input.form-check-input{"data-bulk-select-row" => "{\"mail\":{\"subject\":\"How to take the headache out of Order\",\"email\":\"ansolo45@mail.com\"},\"active\":true,\"sent\":\"Ansolo Lazinatov\",\"date\":\"Dec 27, 2021 3:27 pm\",\"source\":\"Call\",\"type_status\":{\"label\":\"delivered\",\"type\":\"badge-phoenix-info\"}}", :type => "checkbox"}/
                    %td.subject.order.align-middle.white-space-nowrap.py-2.ps-0
                      %a.fw-semibold.text-primary{:href => "#!"} How to take the headache out of Order
                      .fs-10.d-block ansolo45@mail.com
                    %td.sent.align-middle.white-space-nowrap.text-start.fw-bold.text-body-tertiary.py-2 Ansolo Lazinatov
                    %td.date.align-middle.white-space-nowrap.text-body.py-2 Dec 27, 2021 3:27 pm
                    %td.align-middle.white-space-nowrap.ps-3
                      %span.fa-solid.fa-phone.text-primary.me-2>
                      Call
                    %td.status.align-middle.fw-semibold.text-end.py-2
                      %span.badge.badge-phoenix.fs-10.badge-phoenix-info delivered
                  %tr.hover-actions-trigger.btn-reveal-trigger.position-static
                    %td.fs-9.align-middle.px-0.py-3
                      .form-check.mb-0.fs-8
                        %input.form-check-input{"data-bulk-select-row" => "{\"mail\":{\"subject\":\"The Arnold Schwarzenegger of Order\",\"email\":\"ansolo45@mail.com\"},\"active\":true,\"sent\":\"Ansolo Lazinatov\",\"date\":\"Dec 24, 2021 10:44 am\",\"source\":\"Call\",\"type_status\":{\"label\":\"Bounce\",\"type\":\"badge-phoenix-warning\"}}", :type => "checkbox"}/
                    %td.subject.order.align-middle.white-space-nowrap.py-2.ps-0
                      %a.fw-semibold.text-primary{:href => "#!"} The Arnold Schwarzenegger of Order
                      .fs-10.d-block ansolo45@mail.com
                    %td.sent.align-middle.white-space-nowrap.text-start.fw-bold.text-body-tertiary.py-2 Ansolo Lazinatov
                    %td.date.align-middle.white-space-nowrap.text-body.py-2 Dec 24, 2021 10:44 am
                    %td.align-middle.white-space-nowrap.ps-3
                      %span.fa-solid.fa-phone.text-primary.me-2>
                      Call
                    %td.status.align-middle.fw-semibold.text-end.py-2
                      %span.badge.badge-phoenix.fs-10.badge-phoenix-warning Bounce
                  %tr.hover-actions-trigger.btn-reveal-trigger.position-static
                    %td.fs-9.align-middle.px-0.py-3
                      .form-check.mb-0.fs-8
                        %input.form-check-input{"data-bulk-select-row" => "{\"mail\":{\"subject\":\"My order is not being taken\",\"email\":\"jackson@mail.com\"},\"active\":true,\"sent\":\"Jackson Pollock\",\"date\":\"Dec 19, 2021 4:55 pm\",\"source\":\"Call\",\"type_status\":{\"label\":\"Spam\",\"type\":\"badge-phoenix-danger\"}}", :type => "checkbox"}/
                    %td.subject.order.align-middle.white-space-nowrap.py-2.ps-0
                      %a.fw-semibold.text-primary{:href => "#!"} My order is not being taken
                      .fs-10.d-block jackson@mail.com
                    %td.sent.align-middle.white-space-nowrap.text-start.fw-bold.text-body-tertiary.py-2 Jackson Pollock
                    %td.date.align-middle.white-space-nowrap.text-body.py-2 Dec 19, 2021 4:55 pm
                    %td.align-middle.white-space-nowrap.ps-3
                      %span.fa-solid.fa-phone.text-primary.me-2>
                      Call
                    %td.status.align-middle.fw-semibold.text-end.py-2
                      %span.badge.badge-phoenix.fs-10.badge-phoenix-danger Spam
                  %tr.hover-actions-trigger.btn-reveal-trigger.position-static
                    %td.fs-9.align-middle.px-0.py-3
                      .form-check.mb-0.fs-8
                        %input.form-check-input{"data-bulk-select-row" => "{\"mail\":{\"subject\":\"Shipment is missing\",\"email\":\"jackson@mail.com\"},\"active\":true,\"sent\":\"Jackson Pollock\",\"date\":\"Dec 19, 2021 2:43 pm\",\"source\":\"Call\",\"type_status\":{\"label\":\"sent\",\"type\":\"badge-phoenix-success\"}}", :type => "checkbox"}/
                    %td.subject.order.align-middle.white-space-nowrap.py-2.ps-0
                      %a.fw-semibold.text-primary{:href => "#!"} Shipment is missing
                      .fs-10.d-block jackson@mail.com
                    %td.sent.align-middle.white-space-nowrap.text-start.fw-bold.text-body-tertiary.py-2 Jackson Pollock
                    %td.date.align-middle.white-space-nowrap.text-body.py-2 Dec 19, 2021 2:43 pm
                    %td.align-middle.white-space-nowrap.ps-3
                      %span.fa-solid.fa-phone.text-primary.me-2>
                      Call
                    %td.status.align-middle.fw-semibold.text-end.py-2
                      %span.badge.badge-phoenix.fs-10.badge-phoenix-success sent
                  %tr.hover-actions-trigger.btn-reveal-trigger.position-static
                    %td.fs-9.align-middle.px-0.py-3
                      .form-check.mb-0.fs-8
                        %input.form-check-input{"data-bulk-select-row" => "{\"mail\":{\"subject\":\"How can I order something urgently?\",\"email\":\"ansolo45@mail.com\"},\"active\":true,\"sent\":\"Jackson Pollock\",\"date\":\"Dec 19, 2021 2:43 pm\",\"source\":\"Call\",\"type_status\":{\"label\":\"Delivered\",\"type\":\"badge-phoenix-info\"}}", :type => "checkbox"}/
                    %td.subject.order.align-middle.white-space-nowrap.py-2.ps-0
                      %a.fw-semibold.text-primary{:href => "#!"} How can I order something urgently?
                      .fs-10.d-block ansolo45@mail.com
                    %td.sent.align-middle.white-space-nowrap.text-start.fw-bold.text-body-tertiary.py-2 Jackson Pollock
                    %td.date.align-middle.white-space-nowrap.text-body.py-2 Dec 19, 2021 2:43 pm
                    %td.align-middle.white-space-nowrap.ps-3
                      %span.fa-solid.fa-phone.text-primary.me-2>
                      Call
                    %td.status.align-middle.fw-semibold.text-end.py-2
                      %span.badge.badge-phoenix.fs-10.badge-phoenix-info Delivered
                  %tr.hover-actions-trigger.btn-reveal-trigger.position-static
                    %td.fs-9.align-middle.px-0.py-3
                      .form-check.mb-0.fs-8
                        %input.form-check-input{"data-bulk-select-row" => "{\"mail\":{\"subject\":\"How the delicacy of the products will be handled?\",\"email\":\"ansolo45@mail.com\"},\"active\":true,\"sent\":\"Ansolo Lazinatov\",\"date\":\"Dec 16, 2021 5:18 pm\",\"source\":\"Call\",\"type_status\":{\"label\":\"bounced\",\"type\":\"badge-phoenix-warning\"}}", :type => "checkbox"}/
                    %td.subject.order.align-middle.white-space-nowrap.py-2.ps-0
                      %a.fw-semibold.text-primary{:href => "#!"} How the delicacy of the products will be handled?
                      .fs-10.d-block ansolo45@mail.com
                    %td.sent.align-middle.white-space-nowrap.text-start.fw-bold.text-body-tertiary.py-2 Ansolo Lazinatov
                    %td.date.align-middle.white-space-nowrap.text-body.py-2 Dec 16, 2021 5:18 pm
                    %td.align-middle.white-space-nowrap.ps-3
                      %span.fa-solid.fa-phone.text-primary.me-2>
                      Call
                    %td.status.align-middle.fw-semibold.text-end.py-2
                      %span.badge.badge-phoenix.fs-10.badge-phoenix-warning bounced
            .row.align-items-center.justify-content-between.py-2.pe-0.fs-9
              .col-auto.d-flex
                %p.mb-0.d-none.d-sm-block.me-3.fw-semibold.text-body{"data-list-info" => "data-list-info"}
                %a.fw-semibold{"data-list-view" => "*", :href => "#!"}
                  View all
                  %span.fas.fa-angle-right.ms-1{"data-fa-transform" => "down-1"}
                %a.fw-semibold.d-none{"data-list-view" => "less", :href => "#!"}
                  View Less
                  %span.fas.fa-angle-right.ms-1{"data-fa-transform" => "down-1"}
              .col-auto.d-flex
                %button.page-link{"data-list-pagination" => "prev"}
                  %span.fas.fa-chevron-left
                %ul.mb-0.pagination
                %button.page-link.pe-0{"data-list-pagination" => "next"}
                  %span.fas.fa-chevron-right
        #tab-drafts.tab-pane.fade{"aria-labelledby" => "drafts-tab", :role => "tabpanel"}
          #draftsEmailsTable.border-top.border-bottom.border-translucent{"data-list" => "{\"valueNames\":[\"subject\",\"sent\",\"date\",\"source\",\"status\"],\"page\":7,\"pagination\":true}"}
            .table-responsive.scrollbar.mx-n1.px-1
              %table.table.fs-9.mb-0
                %thead
                  %tr
                    %th.white-space-nowrap.fs-9.align-middle.ps-0{:style => "width:26px;"}
                      .form-check.mb-0.fs-8
                        %input.form-check-input{"data-bulk-select" => "{\"body\":\"drafts-email-table-body\"}", :type => "checkbox"}/
                    %th.sort.white-space-nowrap.align-middle.pe-3.ps-0.text-uppercase{"data-sort" => "subject", :scope => "col", :style => "width:31%; min-width:350px"} Subject
                    %th.sort.align-middle.pe-3.text-uppercase{"data-sort" => "sent", :scope => "col", :style => "width:15%; min-width:130px"} Sent by
                    %th.sort.align-middle.text-start.text-uppercase{"data-sort" => "date", :scope => "col", :style => "min-width:165px"} Date
                    %th.sort.align-middle.pe-0.text-uppercase{:scope => "col", :style => "width:15%; min-width:100px"} Action
                    %th.sort.align-middle.text-end.text-uppercase{"data-sort" => "status", :scope => "col", :style => "width:15%; min-width:100px"} Status
                %tbody#drafts-email-table-body.list
                  %tr.hover-actions-trigger.btn-reveal-trigger.position-static
                    %td.fs-9.align-middle.px-0.py-3
                      .form-check.mb-0.fs-8
                        %input.form-check-input{"data-bulk-select-row" => "{\"mail\":{\"subject\":\"Quary about purchased soccer socks\",\"email\":\"jackson@mail.com\"},\"active\":true,\"sent\":\"Jackson Pollock\",\"date\":\"Dec 29, 2021 10:23 am\",\"source\":\"Call\",\"type_status\":{\"label\":\"sent\",\"type\":\"badge-phoenix-success\"}}", :type => "checkbox"}/
                    %td.subject.order.align-middle.white-space-nowrap.py-2.ps-0
                      %a.fw-semibold.text-primary{:href => "#!"} Quary about purchased soccer socks
                      .fs-10.d-block jackson@mail.com
                    %td.sent.align-middle.white-space-nowrap.text-start.fw-bold.text-body-tertiary.py-2 Jackson Pollock
                    %td.date.align-middle.white-space-nowrap.text-body.py-2 Dec 29, 2021 10:23 am
                    %td.align-middle.white-space-nowrap.ps-3
                      %span.fa-solid.fa-phone.text-primary.me-2>
                      Call
                    %td.status.align-middle.fw-semibold.text-end.py-2
                      %span.badge.badge-phoenix.fs-10.badge-phoenix-success sent
                  %tr.hover-actions-trigger.btn-reveal-trigger.position-static
                    %td.fs-9.align-middle.px-0.py-3
                      .form-check.mb-0.fs-8
                        %input.form-check-input{"data-bulk-select-row" => "{\"mail\":{\"subject\":\"How to take the headache out of Order\",\"email\":\"ansolo45@mail.com\"},\"active\":true,\"sent\":\"Ansolo Lazinatov\",\"date\":\"Dec 27, 2021 3:27 pm\",\"source\":\"Call\",\"type_status\":{\"label\":\"delivered\",\"type\":\"badge-phoenix-info\"}}", :type => "checkbox"}/
                    %td.subject.order.align-middle.white-space-nowrap.py-2.ps-0
                      %a.fw-semibold.text-primary{:href => "#!"} How to take the headache out of Order
                      .fs-10.d-block ansolo45@mail.com
                    %td.sent.align-middle.white-space-nowrap.text-start.fw-bold.text-body-tertiary.py-2 Ansolo Lazinatov
                    %td.date.align-middle.white-space-nowrap.text-body.py-2 Dec 27, 2021 3:27 pm
                    %td.align-middle.white-space-nowrap.ps-3
                      %span.fa-solid.fa-phone.text-primary.me-2>
                      Call
                    %td.status.align-middle.fw-semibold.text-end.py-2
                      %span.badge.badge-phoenix.fs-10.badge-phoenix-info delivered
                  %tr.hover-actions-trigger.btn-reveal-trigger.position-static
                    %td.fs-9.align-middle.px-0.py-3
                      .form-check.mb-0.fs-8
                        %input.form-check-input{"data-bulk-select-row" => "{\"mail\":{\"subject\":\"The Arnold Schwarzenegger of Order\",\"email\":\"ansolo45@mail.com\"},\"active\":true,\"sent\":\"Ansolo Lazinatov\",\"date\":\"Dec 24, 2021 10:44 am\",\"source\":\"Call\",\"type_status\":{\"label\":\"Bounce\",\"type\":\"badge-phoenix-warning\"}}", :type => "checkbox"}/
                    %td.subject.order.align-middle.white-space-nowrap.py-2.ps-0
                      %a.fw-semibold.text-primary{:href => "#!"} The Arnold Schwarzenegger of Order
                      .fs-10.d-block ansolo45@mail.com
                    %td.sent.align-middle.white-space-nowrap.text-start.fw-bold.text-body-tertiary.py-2 Ansolo Lazinatov
                    %td.date.align-middle.white-space-nowrap.text-body.py-2 Dec 24, 2021 10:44 am
                    %td.align-middle.white-space-nowrap.ps-3
                      %span.fa-solid.fa-phone.text-primary.me-2>
                      Call
                    %td.status.align-middle.fw-semibold.text-end.py-2
                      %span.badge.badge-phoenix.fs-10.badge-phoenix-warning Bounce
                  %tr.hover-actions-trigger.btn-reveal-trigger.position-static
                    %td.fs-9.align-middle.px-0.py-3
                      .form-check.mb-0.fs-8
                        %input.form-check-input{"data-bulk-select-row" => "{\"mail\":{\"subject\":\"My order is not being taken\",\"email\":\"jackson@mail.com\"},\"active\":true,\"sent\":\"Jackson Pollock\",\"date\":\"Dec 19, 2021 4:55 pm\",\"source\":\"Call\",\"type_status\":{\"label\":\"Spam\",\"type\":\"badge-phoenix-danger\"}}", :type => "checkbox"}/
                    %td.subject.order.align-middle.white-space-nowrap.py-2.ps-0
                      %a.fw-semibold.text-primary{:href => "#!"} My order is not being taken
                      .fs-10.d-block jackson@mail.com
                    %td.sent.align-middle.white-space-nowrap.text-start.fw-bold.text-body-tertiary.py-2 Jackson Pollock
                    %td.date.align-middle.white-space-nowrap.text-body.py-2 Dec 19, 2021 4:55 pm
                    %td.align-middle.white-space-nowrap.ps-3
                      %span.fa-solid.fa-phone.text-primary.me-2>
                      Call
                    %td.status.align-middle.fw-semibold.text-end.py-2
                      %span.badge.badge-phoenix.fs-10.badge-phoenix-danger Spam
                  %tr.hover-actions-trigger.btn-reveal-trigger.position-static
                    %td.fs-9.align-middle.px-0.py-3
                      .form-check.mb-0.fs-8
                        %input.form-check-input{"data-bulk-select-row" => "{\"mail\":{\"subject\":\"Shipment is missing\",\"email\":\"jackson@mail.com\"},\"active\":true,\"sent\":\"Jackson Pollock\",\"date\":\"Dec 19, 2021 2:43 pm\",\"source\":\"Call\",\"type_status\":{\"label\":\"sent\",\"type\":\"badge-phoenix-success\"}}", :type => "checkbox"}/
                    %td.subject.order.align-middle.white-space-nowrap.py-2.ps-0
                      %a.fw-semibold.text-primary{:href => "#!"} Shipment is missing
                      .fs-10.d-block jackson@mail.com
                    %td.sent.align-middle.white-space-nowrap.text-start.fw-bold.text-body-tertiary.py-2 Jackson Pollock
                    %td.date.align-middle.white-space-nowrap.text-body.py-2 Dec 19, 2021 2:43 pm
                    %td.align-middle.white-space-nowrap.ps-3
                      %span.fa-solid.fa-phone.text-primary.me-2>
                      Call
                    %td.status.align-middle.fw-semibold.text-end.py-2
                      %span.badge.badge-phoenix.fs-10.badge-phoenix-success sent
            .row.align-items-center.justify-content-between.py-2.pe-0.fs-9
              .col-auto.d-flex
                %p.mb-0.d-none.d-sm-block.me-3.fw-semibold.text-body{"data-list-info" => "data-list-info"}
                %a.fw-semibold{"data-list-view" => "*", :href => "#!"}
                  View all
                  %span.fas.fa-angle-right.ms-1{"data-fa-transform" => "down-1"}
                %a.fw-semibold.d-none{"data-list-view" => "less", :href => "#!"}
                  View Less
                  %span.fas.fa-angle-right.ms-1{"data-fa-transform" => "down-1"}
              .col-auto.d-flex
                %button.page-link{"data-list-pagination" => "prev"}
                  %span.fas.fa-chevron-left
                %ul.mb-0.pagination
                %button.page-link.pe-0{"data-list-pagination" => "next"}
                  %span.fas.fa-chevron-right
        #tab-schedule.tab-pane.fade{"aria-labelledby" => "schedule-tab", :role => "tabpanel"}
          #scheduledEmailsTable.border-top.border-bottom.border-translucent{"data-list" => "{\"valueNames\":[\"subject\",\"sent\",\"date\",\"source\",\"status\"],\"page\":7,\"pagination\":true}"}
            .table-responsive.scrollbar.mx-n1.px-1
              %table.table.fs-9.mb-0
                %thead
                  %tr
                    %th.white-space-nowrap.fs-9.align-middle.ps-0{:style => "width:26px;"}
                      .form-check.mb-0.fs-8
                        %input.form-check-input{"data-bulk-select" => "{\"body\":\"scheduled-email-table-body\"}", :type => "checkbox"}/
                    %th.sort.white-space-nowrap.align-middle.pe-3.ps-0.text-uppercase{"data-sort" => "subject", :scope => "col", :style => "width:31%; min-width:350px"} Subject
                    %th.sort.align-middle.pe-3.text-uppercase{"data-sort" => "sent", :scope => "col", :style => "width:15%; min-width:130px"} Sent by
                    %th.sort.align-middle.text-start.text-uppercase{"data-sort" => "date", :scope => "col", :style => "min-width:165px"} Date
                    %th.sort.align-middle.pe-0.text-uppercase{:scope => "col", :style => "width:15%; min-width:100px"} Action
                    %th.sort.align-middle.text-end.text-uppercase{"data-sort" => "status", :scope => "col", :style => "width:15%; min-width:100px"} Status
                %tbody#scheduled-email-table-body.list
                  %tr.hover-actions-trigger.btn-reveal-trigger.position-static
                    %td.fs-9.align-middle.px-0.py-3
                      .form-check.mb-0.fs-8
                        %input.form-check-input{"data-bulk-select-row" => "{\"mail\":{\"subject\":\"Quary about purchased soccer socks\",\"email\":\"jackson@mail.com\"},\"active\":true,\"sent\":\"Jackson Pollock\",\"date\":\"Dec 29, 2021 10:23 am\",\"source\":\"Call\",\"type_status\":{\"label\":\"sent\",\"type\":\"badge-phoenix-success\"}}", :type => "checkbox"}/
                    %td.subject.order.align-middle.white-space-nowrap.py-2.ps-0
                      %a.fw-semibold.text-primary{:href => "#!"} Quary about purchased soccer socks
                      .fs-10.d-block jackson@mail.com
                    %td.sent.align-middle.white-space-nowrap.text-start.fw-bold.text-body-tertiary.py-2 Jackson Pollock
                    %td.date.align-middle.white-space-nowrap.text-body.py-2 Dec 29, 2021 10:23 am
                    %td.align-middle.white-space-nowrap.ps-3
                      %span.fa-solid.fa-phone.text-primary.me-2>
                      Call
                    %td.status.align-middle.fw-semibold.text-end.py-2
                      %span.badge.badge-phoenix.fs-10.badge-phoenix-success sent
                  %tr.hover-actions-trigger.btn-reveal-trigger.position-static
                    %td.fs-9.align-middle.px-0.py-3
                      .form-check.mb-0.fs-8
                        %input.form-check-input{"data-bulk-select-row" => "{\"mail\":{\"subject\":\"How to take the headache out of Order\",\"email\":\"ansolo45@mail.com\"},\"active\":true,\"sent\":\"Ansolo Lazinatov\",\"date\":\"Dec 27, 2021 3:27 pm\",\"source\":\"Call\",\"type_status\":{\"label\":\"delivered\",\"type\":\"badge-phoenix-info\"}}", :type => "checkbox"}/
                    %td.subject.order.align-middle.white-space-nowrap.py-2.ps-0
                      %a.fw-semibold.text-primary{:href => "#!"} How to take the headache out of Order
                      .fs-10.d-block ansolo45@mail.com
                    %td.sent.align-middle.white-space-nowrap.text-start.fw-bold.text-body-tertiary.py-2 Ansolo Lazinatov
                    %td.date.align-middle.white-space-nowrap.text-body.py-2 Dec 27, 2021 3:27 pm
                    %td.align-middle.white-space-nowrap.ps-3
                      %span.fa-solid.fa-phone.text-primary.me-2>
                      Call
                    %td.status.align-middle.fw-semibold.text-end.py-2
                      %span.badge.badge-phoenix.fs-10.badge-phoenix-info delivered
                  %tr.hover-actions-trigger.btn-reveal-trigger.position-static
                    %td.fs-9.align-middle.px-0.py-3
                      .form-check.mb-0.fs-8
                        %input.form-check-input{"data-bulk-select-row" => "{\"mail\":{\"subject\":\"The Arnold Schwarzenegger of Order\",\"email\":\"ansolo45@mail.com\"},\"active\":true,\"sent\":\"Ansolo Lazinatov\",\"date\":\"Dec 24, 2021 10:44 am\",\"source\":\"Call\",\"type_status\":{\"label\":\"Bounce\",\"type\":\"badge-phoenix-warning\"}}", :type => "checkbox"}/
                    %td.subject.order.align-middle.white-space-nowrap.py-2.ps-0
                      %a.fw-semibold.text-primary{:href => "#!"} The Arnold Schwarzenegger of Order
                      .fs-10.d-block ansolo45@mail.com
                    %td.sent.align-middle.white-space-nowrap.text-start.fw-bold.text-body-tertiary.py-2 Ansolo Lazinatov
                    %td.date.align-middle.white-space-nowrap.text-body.py-2 Dec 24, 2021 10:44 am
                    %td.align-middle.white-space-nowrap.ps-3
                      %span.fa-solid.fa-phone.text-primary.me-2>
                      Call
                    %td.status.align-middle.fw-semibold.text-end.py-2
                      %span.badge.badge-phoenix.fs-10.badge-phoenix-warning Bounce
                  %tr.hover-actions-trigger.btn-reveal-trigger.position-static
                    %td.fs-9.align-middle.px-0.py-3
                      .form-check.mb-0.fs-8
                        %input.form-check-input{"data-bulk-select-row" => "{\"mail\":{\"subject\":\"My order is not being taken\",\"email\":\"jackson@mail.com\"},\"active\":true,\"sent\":\"Jackson Pollock\",\"date\":\"Dec 19, 2021 4:55 pm\",\"source\":\"Call\",\"type_status\":{\"label\":\"Spam\",\"type\":\"badge-phoenix-danger\"}}", :type => "checkbox"}/
                    %td.subject.order.align-middle.white-space-nowrap.py-2.ps-0
                      %a.fw-semibold.text-primary{:href => "#!"} My order is not being taken
                      .fs-10.d-block jackson@mail.com
                    %td.sent.align-middle.white-space-nowrap.text-start.fw-bold.text-body-tertiary.py-2 Jackson Pollock
                    %td.date.align-middle.white-space-nowrap.text-body.py-2 Dec 19, 2021 4:55 pm
                    %td.align-middle.white-space-nowrap.ps-3
                      %span.fa-solid.fa-phone.text-primary.me-2>
                      Call
                    %td.status.align-middle.fw-semibold.text-end.py-2
                      %span.badge.badge-phoenix.fs-10.badge-phoenix-danger Spam
            .row.align-items-center.justify-content-between.py-2.pe-0.fs-9
              .col-auto.d-flex
                %p.mb-0.d-none.d-sm-block.me-3.fw-semibold.text-body{"data-list-info" => "data-list-info"}
                %a.fw-semibold{"data-list-view" => "*", :href => "#!"}
                  View all
                  %span.fas.fa-angle-right.ms-1{"data-fa-transform" => "down-1"}
                %a.fw-semibold.d-none{"data-list-view" => "less", :href => "#!"}
                  View Less
                  %span.fas.fa-angle-right.ms-1{"data-fa-transform" => "down-1"}
              .col-auto.d-flex
                %button.page-link{"data-list-pagination" => "prev"}
                  %span.fas.fa-chevron-left
                %ul.mb-0.pagination
                %button.page-link.pe-0{"data-list-pagination" => "next"}
                  %span.fas.fa-chevron-right
  #tab-attachments.tab-pane.fade{"aria-labelledby" => "attachments-tab", :role => "tabpanel"}
    %h2.mb-4 Attachments
    .border-top.border-dashed.pt-3.pb-4
      .d-flex.flex-between-center
        .d-flex.mb-1
          %span.fa-solid.fa-image.me-2.text-body-tertiary.fs-9
          %p.text-body-highlight.mb-0.lh-1 Silly_sight_1.png
        .btn-reveal-trigger
          %button.btn.btn-sm.dropdown-toggle.dropdown-caret-none.transition-none.btn-reveal{"aria-expanded" => "false", "aria-haspopup" => "true", "data-boundary" => "window", "data-bs-reference" => "parent", "data-bs-toggle" => "dropdown", :type => "button"}
            %span.fas.fa-ellipsis-h
          .dropdown-menu.dropdown-menu-end.py-2
            %a.dropdown-item{:href => "#!"} Edit
            %a.dropdown-item.text-danger{:href => "#!"} Delete
            %a.dropdown-item{:href => "#!"} Download
            %a.dropdown-item{:href => "#!"} Report abuse
      %p.fs-9.text-body-tertiary.mb-2
        %span 768kB
        %span.text-body-quaternary.mx-1 |
        %a{:href => "#!"} Shantinan Mekalan
        %span.text-body-quaternary.mx-1 |
        %span.text-nowrap 21st Dec, 12:56 PM
      %img.rounded-2{:alt => "", :src => "../../assets/img/generic/40.png"}/
    .border-top.border-dashed.py-4
      .d-flex.flex-between-center
        %div
          .d-flex.align-items-center.mb-1
            %span.fa-solid.fa-image.me-2.fs-9.text-body-tertiary
            %p.text-body-highlight.mb-0.lh-1 All_images.zip
          %p.fs-9.text-body-tertiary.mb-0
            %span 12.8 mB
            %span.text-body-quaternary.mx-1 |
            %a{:href => "#!"} Yves Tanguy
            %span.text-body-quaternary.mx-1 |
            %span.text-nowrap 19th Dec, 08:56 PM
        .btn-reveal-trigger
          %button.btn.btn-sm.dropdown-toggle.dropdown-caret-none.transition-none.btn-reveal{"aria-expanded" => "false", "aria-haspopup" => "true", "data-boundary" => "window", "data-bs-reference" => "parent", "data-bs-toggle" => "dropdown", :type => "button"}
            %span.fas.fa-ellipsis-h
          .dropdown-menu.dropdown-menu-end.py-2
            %a.dropdown-item{:href => "#!"} Edit
            %a.dropdown-item.text-danger{:href => "#!"} Delete
            %a.dropdown-item{:href => "#!"} Download
            %a.dropdown-item{:href => "#!"} Report abuse
    .border-top.border-dashed.py-4
      .d-flex.flex-between-center
        %div
          .d-flex.align-items-center.mb-1
            %span.fa-solid.fa-file-lines.me-2.fs-9.text-body-tertiary
            %p.text-body-highlight.mb-0.lh-1 Project.txt
          %p.fs-9.text-body-tertiary.mb-0
            %span 123 kB
            %span.text-body-quaternary.mx-1 |
            %a{:href => "#!"} Shantinan Mekalan
            %span.text-body-quaternary.mx-1 |
            %span.text-nowrap 12th Dec, 12:56 PM
        .btn-reveal-trigger
          %button.btn.btn-sm.dropdown-toggle.dropdown-caret-none.transition-none.btn-reveal{"aria-expanded" => "false", "aria-haspopup" => "true", "data-boundary" => "window", "data-bs-reference" => "parent", "data-bs-toggle" => "dropdown", :type => "button"}
            %span.fas.fa-ellipsis-h
          .dropdown-menu.dropdown-menu-end.py-2
            %a.dropdown-item{:href => "#!"} Edit
            %a.dropdown-item.text-danger{:href => "#!"} Delete
            %a.dropdown-item{:href => "#!"} Download
            %a.dropdown-item{:href => "#!"} Report abuse
