<%= link_to 'Back to deals', deals_path %>

<%= bootstrap_form_for @deal do |form| %>

  <h1>
    <%=@deal.name%>
    <%= link_to 'Edit', edit_deal_path(@deal)%>
  </h1>

  <strong class='border-bottom'>Name</strong>
  <p>@deal.name<p>

<%end%>