/ parent pages
.nav-item-wrapper
  %a.nav-link.label-1{"aria-expanded" => "false", "data-bs-toggle" => "", :href => link, :role => "button"}
    .d-flex.align-items-center
      %span.nav-link-icon
        %span{"data-feather" => "calendar"}
      %span.nav-link-text-wrapper
        %span.nav-link-text= label
