<!-- parent pages-->
<div class="nav-item-wrapper"><a class="nav-link label-1" href="<%=link%>" role="button" data-bs-toggle="" aria-expanded="false">
    <div class="d-flex align-items-center"><span class="nav-link-icon"><span data-feather="calendar"></span></span><span class="nav-link-text-wrapper"><span class="nav-link-text"><%=label%></span></span>
    </div>
  </a>
</div>