<h1>Organizations</h1>

<%= link_to new_organization_path do %>
  <button type="button" class="btn btn-primary btn-sm">New Organization</button>
<% end %>

<ul class="list-group">

<% @organizations.each do |organization| %>
    <li class="list-group-item">
      <%= link_to organization_path(organization) do %>
        <%=organization.name%>
      <% end %>
    </li>
  <% end %>

  </ul>

