<%= link_to 'Back to activities', activities_path %>


  <h1>
    <%=@activity.title%>
    <%= link_to 'Edit', edit_activity_path(@activity)%>
  </h1>

  <strong class='border-bottom'>Ntitleame</strong>
  <p><%=@activity.title%><p>
